Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn prettier --parser html --write

chore(deps): update dependency @testing-library/react to v10.4.5
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/react to v16.9.42
  package.json
  yarn.lock
Due: yarn prettier --write

chore(ide): exclude non-code folder when global search
  .idea/spotify-music-player.iml
Due: none

fixup! feat(tracks): click playlist redirect to playlist tracks page
  package.json
Due: yarn prettier --write

feat(tracks): click playlist redirect to playlist tracks page
  src/Routes/Content.tsx
  src/components/Nav/index.tsx
  src/components/Suggestion/Present/PresentSuggestionList.tsx
  src/components/Suggestion/Present/__tests__/PresentSuggestionList.test.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedArtist.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedTrack.tsx
  src/components/Suggestion/SuggestPlayListByTopArtist.tsx
  src/components/Suggestion/SuggestPlayListByTopTrack.tsx
  src/components/UserPlayList/UserPlayList.tsx
  src/pages/PlayListTracks/__tests__/index.test.tsx
  src/pages/PlayListTracks/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat(service): call spotify get play list item api
  .env
  src/services/spotify/playlist/__tests__/__recordings__/get-items-beside-of-playlist_2901413722/recording.har
  src/services/spotify/playlist/__tests__/getPlayListItems.test.ts
  src/services/spotify/playlist/getPlayListItems.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat: call spotify get play list item api
  .env
  .idea/spotify-music-player.iml
  package.json
  src/Routes/Content.tsx
  src/components/Nav/index.tsx
  src/components/Suggestion/Present/PresentSuggestionList.tsx
  src/components/Suggestion/Present/__tests__/PresentSuggestionList.test.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedArtist.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedTrack.tsx
  src/components/Suggestion/SuggestPlayListByTopArtist.tsx
  src/components/Suggestion/SuggestPlayListByTopTrack.tsx
  src/components/UserPlayList/UserPlayList.tsx
  src/pages/PlayListTracks/__tests__/index.test.tsx
  src/pages/PlayListTracks/index.tsx
  src/services/spotify/playlist/__tests__/__recordings__/get-items-beside-of-playlist_2901413722/recording.har
  src/services/spotify/playlist/__tests__/getPlayListItems.test.ts
  src/services/spotify/playlist/getPlayListItems.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat(service): get spotify playlist
  .env
  src/services/spotify/playlist/__tests__/__recordings__/get-playlist_1207821307/recording.har
  src/services/spotify/playlist/__tests__/getPlayList.test.ts
  src/services/spotify/playlist/getPlayList.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat(service): get spotify playlist (#461)
  .env
  src/services/spotify/playlist/__tests__/__recordings__/get-playlist_1207821307/recording.har
  src/services/spotify/playlist/__tests__/getPlayList.test.ts
  src/services/spotify/playlist/getPlayList.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

test(data-fetcher): use swr Config from context provider
  src/App.tsx
  src/components/Nav/__tests__/index.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedTrack.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopTrack.test.tsx
  src/components/UserPlayList/__tests__/UserPlayList.test.tsx
  src/contexts/SWR/index.tsx
  src/hooks/__tests__/useDataFetcher.test.ts
  src/hooks/useDataFetcher.ts
  src/pages/Suggestion/__tests__/index.test.tsx
  src/setupTests.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

test(contexts): factory for create app for unit test
  src/App.tsx
  src/components/Nav/__tests__/index.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedTrack.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopTrack.test.tsx
  src/components/UserPlayList/__tests__/UserPlayList.test.tsx
  src/contexts/Auth/AuthContext.tsx
  src/contexts/Auth/AuthContextProvider.tsx
  src/contexts/Auth/index.tsx
  src/contexts/SWR/index.tsx
  src/hooks/__mocks__/useAccessToken.ts
  src/hooks/__mocks__/useDataFetcher.ts
  src/hooks/__tests__/useAccessToken.test.tsx
  src/hooks/__tests__/useSpotifyAPIClient.test.ts
  src/hooks/useAccessToken.ts
  src/pages/Auth/Callback/__tests__/index.test.tsx
  src/pages/Suggestion/__tests__/index.test.tsx
  src/setupTests.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! test(contexts): factory for create app for unit test
  src/components/Nav/__tests__/index.test.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

Update dependency react-scripts to v3.4.1
  package.json
  yarn.lock
Due: yarn prettier --write

Update dependency @types/react to v16.9.43
  package.json
  yarn.lock
Due: yarn prettier --write

Update dependency @types/ramda to v0.27.11
  package.json
  yarn.lock
Due: yarn prettier --write

Update dependency nanoid to v3
  package.json
  yarn.lock
Due: yarn prettier --write

Update commitlint monorepo to v9.1.1
  package.json
  yarn.lock
Due: yarn prettier --write

Update dependency @typescript-eslint/parser to v3.6.1
  package.json
  yarn.lock
Due: yarn prettier --write

Update dependency @testing-library/react to v10.4.6
  package.json
  yarn.lock
Due: yarn prettier --write

test(data-fetching): remove swr naming in context and props
  src/App.tsx
  src/components/Nav/__tests__/index.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedTrack.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopTrack.test.tsx
  src/components/UserPlayList/__tests__/UserPlayList.test.tsx
  src/contexts/DataFetching/index.tsx
  src/contexts/SWR/index.tsx
  src/pages/Suggestion/__tests__/index.test.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

test(auth): remove router from auth context
  src/App.tsx
  src/components/Nav/__tests__/index.test.tsx
  src/contexts/Auth/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): update dependency @testing-library/react to v10.4.7
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @testing-library/jest-dom to v5.11.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/eslint-config to v8.0.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/eslint-config-react to v8.0.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency typescript to v3.9.7
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/jest to v26.0.5
  package.json
  yarn.lock
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: (any of: *.{json,css,md,yaml,yml}) or (any of: *.{js,jsx,ts,tsx})
  yarn eslint --max-warnings 0 --fix: any of: *.{js,jsx,ts,tsx}
  yarn stylelint: any of: *.{js,jsx,ts,tsx}
  yarn prettier --parser html --write: any of: *.svg
