Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

.lintstagedrc.json:

{
  "*.json": ["yarn eslint --fix", "yarn prettier --write"],
  "*.svg": ["yarn prettier --parser html --write"],
  "*.{css,md,yaml,yml}": ["yarn prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "yarn prettier --write",
    "yarn eslint --fix",
    "yarn stylelint"
  ],
  "package.json": [
    "yarn eslint --fix",
    "yarn prettier --write",
    "yarn npmPkgJsonLint"
  ]
}

chore(deps): update dependency netlify-cli to v6.8.4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v6.8.5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-router-dom to v5.3.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/styled-components to v5.1.14
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/react to v17.0.20
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: button for play whole playlist/album
  src/components/TogglePlayerPlayingStateButton/_tests__/TogglePlayerPlayingStateButton.test.tsx
  src/components/TogglePlayerPlayingStateButton/index.tsx
  src/components/TogglePlayerPlayingStateButton/pause.svg
  src/components/TogglePlayerPlayingStateButton/play.svg
  src/contexts/SpotifyWebPlayback/__tests__/index.test.tsx
  src/contexts/SpotifyWebPlayback/hooks/usePlayingContext.ts
  src/contexts/SpotifyWebPlayback/hooks/usePlayingTrack.ts
  src/contexts/SpotifyWebPlayback/index.tsx
  src/contexts/SpotifyWebPlayback/states/IdlePlaybackState/__tests__/IdlePlaybackState.test.ts
  src/contexts/SpotifyWebPlayback/states/IdlePlaybackState/index.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/__tests__/LocalPlaybackState.test.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/index.ts
  src/contexts/SpotifyWebPlayback/states/RemotePlaybackState/__tests__/RemotePlaybackState.test.ts
  src/contexts/SpotifyWebPlayback/states/RemotePlaybackState/index.ts
  src/contexts/SpotifyWebPlayback/typings/Playback.ts
  src/hooks/spotify/typings/Playlist.d.ts
  src/pages/index/components/FeaturedPlayListBySpotify.tsx
  src/pages/index/components/Present/PresentSuggestAlbum.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestAlbum.test.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestPlayList.test.tsx
  src/pages/index/components/SuggestAlbumByUserLastPlayedArtists.tsx
  src/pages/index/components/SuggestAlbumByUserLastPlayedTracks.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtistGenres.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtists.tsx
  src/pages/index/components/SuggestAlbumByUserTopTracks.tsx
  src/pages/index/components/__tests__/FeaturedPlayListBySpotify.test.tsx
  src/pages/index/components/__tests__/SuggestAlbumByUserLastPlayedArtists.test.tsx
  src/pages/index/components/__tests__/SuggestAlbumByUserLastPlayedTracks.test.tsx
  src/pages/index/components/__tests__/SuggestAlbumByUserTopArtistGenres.test.tsx
  src/pages/index/components/__tests__/SuggestAlbumByUserTopArtists.test.tsx
  src/pages/index/components/__tests__/SuggestAlbumByUserTopTracks.test.tsx
  testHelper/polly/setupMockServer.ts
Due: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint

feat(wip): playback toggle button in home page recommand list
  src/Routes/__tests__/index/index.test.tsx
  src/pages/index/components/AlbumByTopStreamTracks.tsx
  src/pages/index/components/FeaturedPlayListBySpotify.tsx
  src/pages/index/components/Present/PresentSuggestAlbum.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestAlbum.test.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestPlayList.test.tsx
  src/pages/index/components/Present/pause.svg
  src/pages/index/components/Present/play.svg
  src/pages/index/components/SuggestAlbumByUserLastPlayedArtists.tsx
  src/pages/index/components/SuggestAlbumByUserLastPlayedTracks.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtistGenres.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtists.tsx
  src/pages/index/components/SuggestAlbumByUserTopTracks.tsx
  src/pages/index/components/__tests__/AlbumByTopStreamTracks.test.tsx
  src/pages/index/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint

chore: use node16
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .nvmrc
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency @types/spotify-web-playback-sdk to v0.1.9
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): pin node.js to 16.8.0
  .nvmrc
Due: none

fix: spotify-web-playback-sdk-0.x
  src/contexts/SpotifyWebPlayback/hooks/useLocalSpotifyPlayback.ts
  src/contexts/SpotifyWebPlayback/states/IdlePlaybackState/index.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/__tests__/LocalPlaybackState.test.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/commands/nextTrack.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/commands/pausePlayback.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/commands/previousTrack.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/commands/resumePlayback.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/commands/seekPlayback.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/commands/setVolume.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/index.ts
  src/contexts/SpotifyWebPlayback/states/RemotePlaybackState/index.ts
  src/contexts/SpotifyWebPlayback/typings/State.ts
  testHelper/casual/SpotifyPlayer.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency prettier to v2.3.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency nanoid to v3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix: prettier-2.x
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/__tests__/LocalPlaybackState.test.ts
  src/pages/auth/login/utils/loginRedirect.ts
  src/pages/index/components/SuggestAlbumByUserLastPlayedArtists.tsx
  src/pages/index/components/SuggestAlbumByUserLastPlayedTracks.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtistGenres.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtists.tsx
  src/pages/index/components/SuggestAlbumByUserTopTracks.tsx
  src/pages/index/components/__tests__/SuggestAlbumByUserLastPlayedArtists.test.tsx
  src/pages/index/components/__tests__/SuggestAlbumByUserLastPlayedTracks.test.tsx
  testHelper/casual/AlbumObject.ts
  testHelper/casual/CurrentlyPlayingContextObject.ts
  testHelper/casual/CurrentlyPlayingObject.ts
  testHelper/casual/PagingObject.ts
  testHelper/casual/PlayHistoryObject.ts
  testHelper/casual/PlaylistObject.ts
  testHelper/casual/SimplifiedPlaylistObject.ts
  testHelper/casual/SimplifiedTrackObject.ts
  testHelper/casual/SpotifyPlayer.ts
  testHelper/casual/TrackObject.ts
  testHelper/casual/WebPlaybackState.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix: nanoid-3.x
  src/pages/auth/login/utils/__tests__/loginRedirect.test.ts
  src/pages/auth/login/utils/loginRedirect.ts
  testHelper/signToken/index.js
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency @busybox/eslint-config to v5.4.11
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency typescript to v4.4.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix: eslint error
  .env
  .env.production
Due: none

fix: typescript-4.x
  src/contexts/Auth/AuthContext.tsx
  src/hooks/utils/useInterval.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix(deps): update dependency axios to v0.21.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix: axios-0.x
  src/Routes/__tests__/auth/login/callback/index.test.tsx
  src/contexts/Auth/AuthContext.tsx
  src/hooks/__tests__/useSpotifyAPIClient.test.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: refresh all polly snapshot
  src/components/UserPlayList/__tests__/__recordings__/UserPlayList.test/test-with-user-play-list-hoc-should-render-without-error_3474803194/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-exchange-token-from-code-persist-refresh-token_3699659553/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-get-or-refresh-access-token-refresh-access-token-if-token-expired_1655539700/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-get-or-refresh-access-token-return-access-token-if-cached-token-not-expired_231704658/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-refresh-access-token-error-if-no-persisted-refresh-token-found_641751132/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-refresh-access-token-exchange-access-token-from-persisted-refresh-token_2083797120/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-call-spotify-api-by-given-token_3253663811/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-no-retry-if-api-endpoint-non-401-fail_3556635623/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-retry-api-call-if-given-token-return-401_1527095812/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-throw-exception-if-sing-token-always-error_920735180/recording.har
  src/hooks/__tests__/__recordings__/useUserCountry.test/use-user-country-should-return-my-current-location-hk_658722853/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useAlbum.test/test-use-album-fetch-the-album_248313800/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useFeaturedPlaylists.test/use-featured-playlists-get-featured-playlist_195703536/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/usePlayList.test/return-playlist-info_1600870947/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useRecentPlayedTrack.test/return-user-recently-played-track_1273407338/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSearchPlayList.test/return-playlist-for-given-keyword_900534112/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedArtists.test/return-playlist-of-user-by-last-played-artist_3013388251/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedTracks.test/return-playlist-of-user-by-last-played-track_1557813535/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtistGenres.test/return-albums-of-user-by-top-artist-genres_3703313907/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtists.test/return-playlist-of-user-by-top-artist_3104741902/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopTracks.test/return-playlist-of-user-by-top-track_1297527244/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingTracksReport.test/use-top-streaming-report-fetch-top-steaming-report-from-backing-api_3246329727/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserPlayList.test/return-user-playlist_3891777474/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserTop.test/return-user-top-artist_3767885161/recording.har
  src/pages/playlist/:playlistId/__tests__/__recordings__/index.test/render-with-play-list-hoc-pass-response-to-wrapper_3344042563/recording.har
Due: none

chore(deps): update dependency netlify-cli to v6.8.6
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: remove unused netlify functions
  .netlify/functions/fetch-top-stream-report.zip
  .netlify/state.json
  functions/__mock__/fetch-top-stream-report.json
  functions/__tests__/fetch-top-stream-report.test.ts
  functions/fetch-top-stream-report.ts
  functions/testHelper/polly/createPollyContext.ts
  functions/testHelper/polly/interceptNetlifyFunctions.ts
  functions/utils/httpRequest.ts
  netlify.toml
  package.json
  scripts/test/jest.sh
  src/Routes/__tests__/index/index.test.tsx
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingTracksReport.test/use-top-streaming-report-fetch-top-steaming-report-from-backing-api_3246329727/recording.har
  src/hooks/spotify/query/__tests__/useTopStreamingAlbum.test.tsx
  src/hooks/spotify/query/__tests__/useTopStreamingTracksReport.test.tsx
  src/hooks/spotify/query/useTopStreamingAlbum.ts
  src/hooks/spotify/query/useTopStreamingTracksReport.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

chore: remove stylelint pre-processor
  .stylelintrc.json
  package.json
  scripts/lint.sh
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: replace yarn with npm
  .eslintignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .idea/spotify-music-player.iml
  .lintstagedrc.json
  .npmrc
  README.md
  package-lock.json
  package.json
  scripts/lint.sh
  scripts/setup.sh
  scripts/test/jest.sh
  scripts/test/lchi.sh
  src/contexts/SpotifyWebPlayback/__tests__/index.test.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

fix(deps): update dependency axios to v0.21.4
  package-lock.json
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/babel-preset to v1.2.0
  package-lock.json
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/npm-package-json-lint-config to v1.3.0
  package-lock.json
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/prettier-config to v1.2.0
  package-lock.json
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint
