Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

chore(deps): update dependency @types/node to v13.13.48
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: ide config update
  .idea/vcs.xml
Due: none

chore: remove prepare-commit-message popup
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: refresh all polly snapshot
  functions/__tests__/__recordings__/fetch-top-stream-report.test/test-fetch-top-stream-report-fetch-csv-from-spotify-charts-and-transform-to-json_1704066302/recording.har
  src/components/UserPlayList/__tests__/__recordings__/UserPlayList.test/test-with-user-play-list-hoc-should-render-without-error_3474803194/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-exchange-token-from-code-persist-refresh-token_3699659553/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-get-or-refresh-access-token-refresh-access-token-if-token-expired_1655539700/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-get-or-refresh-access-token-return-access-token-if-cached-token-not-expired_231704658/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-refresh-access-token-error-if-no-persisted-refresh-token-found_641751132/recording.har
  src/contexts/Auth/__tests__/__recordings__/AuthContext.test/auth-context-refresh-access-token-exchange-access-token-from-persisted-refresh-token_2083797120/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-call-spotify-api-by-given-token_3253663811/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-no-retry-if-api-endpoint-non-401-fail_3556635623/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-retry-api-call-if-given-token-return-401_1527095812/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-throw-exception-if-sing-token-always-error_920735180/recording.har
  src/hooks/__tests__/__recordings__/useUserCountry.test/use-user-country-should-return-my-current-location-hk_658722853/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useAlbum.test/test-use-album-fetch-the-album_248313800/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useFeaturedPlaylists.test/use-featured-playlists-get-featured-playlist_195703536/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/usePlayList.test/return-playlist-info_1600870947/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useRecentPlayedTrack.test/return-user-recently-played-track_1273407338/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSearchPlayList.test/return-playlist-for-given-keyword_900534112/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedArtists.test/return-playlist-of-user-by-last-played-artist_3013388251/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedTracks.test/return-playlist-of-user-by-last-played-track_1557813535/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtistGenres.test/return-albums-of-user-by-top-artist-genres_3703313907/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtists.test/return-playlist-of-user-by-top-artist_3104741902/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopTracks.test/return-playlist-of-user-by-top-track_1297527244/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingTracksReport.test/use-top-streaming-report-fetch-top-steaming-report-from-backing-api_3246329727/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserPlayList.test/return-user-playlist_3891777474/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserTop.test/return-user-top-artist_3767885161/recording.har
  src/pages/playlist/:playlistId/__tests__/__recordings__/index.test/render-with-play-list-hoc-pass-response-to-wrapper_3344042563/recording.har
  testHelper/polly/createPollyContext.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency @busybox/babel-preset to v1.1.7
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/eslint-config to v5.4.4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix: unuesed React import
  src/pages/auth/login/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: disable eslint fix in pre-push
  .husky/pre-push
Due: none

fix: eslint
  .eslintrc.js
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

refactor: reorganize styled theme attr
  .idea/csv-plugin.xml
  src/components/ErrorFallback/index.tsx
  src/components/Loading/index.tsx
  src/components/Logo/index.tsx
  src/components/MusicPlayback/components/PlaybackControl/ControlButtons/index.tsx
  src/components/MusicPlayback/components/PlaybackControl/TimeBar/index.tsx
  src/components/MusicPlayback/components/TrackInfo/index.tsx
  src/components/MusicPlayback/index.tsx
  src/components/Nav/index.tsx
  src/components/Panel/index.tsx
  src/components/TracksList/index.tsx
  src/components/UserPlayList/UserPlayList.tsx
  src/contexts/Theme/index.tsx
  src/pages/album/:albumId/components/Heading/index.tsx
  src/pages/album/:albumId/components/TracksList/index.tsx
  src/pages/album/:albumId/index.tsx
  src/pages/index/components/Present/PresentSuggestAlbum.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  src/pages/index/index.tsx
  src/pages/playlist/:playlistId/components/Heading/index.tsx
  src/pages/playlist/:playlistId/components/TracksList/index.tsx
  src/pages/playlist/:playlistId/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency @busybox/eslint-config to v5.4.5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.13.8
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react-hooks to v5.1.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/user-event to v13.1.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react to v11.2.6
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/user-event to v13.1.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.13.9
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.13.10
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-query to v3.13.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency styled-components to v5.2.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/eslint to v7.2.8
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-query to v3.13.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency styled-components to v5.2.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

Path conditions:
  yarn eslint --fix: ((any of: *.json) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  yarn prettier --write: (((any of: *.json) or (any of: *.{css,md,yaml,yml})) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  yarn prettier --parser html --write: any of: *.svg
  yarn stylelint: any of: *.{js,jsx,ts,tsx}
  yarn npmPkgJsonLint: any of: package.json
