Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx prettier --parser html --write, npx stylelint, npx npmPkgJsonLint

.lintstagedrc.json:

{
  "*.json": ["npx eslint --fix", "npx prettier --write"],
  "*.svg": ["npx prettier --parser html --write"],
  "*.{css,md,yaml,yml}": ["npx prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "npx prettier --write",
    "npx eslint --fix",
    "npx stylelint"
  ],
  "package.json": [
    "npx eslint --fix",
    "npx prettier --write",
    "npx npmPkgJsonLint"
  ]
}

chore(deps): update dependency @busybox/eslint-config to v5.5.0
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

chore(deps): update dependency @busybox/renovate-config to v1.2.0
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

chore(deps): update dependency @busybox/tsconfig to v1.4.0
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

fix(deps): update dependency react-query to v3.22.0
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

chore(deps): update dependency @types/node to v14.17.15
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

chore(deps): update dependency prettier to v2.4.0
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

fix(deps): update dependency react-query to v3.23.2
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

chore: replace renovate with dependabot
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  package-lock.json
  package.json
  renovate.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

ci: use .nvmrc on github action
  .github/workflows/pr.yml
  .github/workflows/push.yml
Due: npx prettier --write

chore: add code ownere
  .github/CODEOWNERS
  .github/auto_assign.yml
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

chore: increase testing library timeout
  package.json
  src/setupTests.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

chore: remove legacy jest config
  jest.config.functions.js
Due: npx eslint --fix, npx prettier --write, npx stylelint

fixup! chore: increase testing library timeout
  package.json
  src/setupTests.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

chore: remove @types/testing-library__react
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

ci: fix netlify deployment
  netlify.toml
Due: none

ci: fix netlify deployment
  scripts/test/lchi.sh
  snowpack.config.mjs
Due: none

fix: snowpack build failed
  patches/snowpack+3.8.8.patch
  snowpack.config.mjs
  src/Routes/__tests__/playlist/:playlistId/index.test.tsx
Due: npx eslint --fix, npx prettier --write, npx stylelint

ci: optimize config
  snowpack.config.mjs
Due: none

feat(wip): replace jest with web-test-runner
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  patches/snowpack+3.8.6.patch
  patches/snowpack+3.8.8.patch
  snowpack.config.mjs
  testHelper/polly/createPollyContext.ts
  testHelper/polly/getCurrentTestPath.ts
  web-test-runner.config.js
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

test: fix useUserCountry test
  package-lock.json
  package.json
  snowpack.config.mjs
  src/hooks/__tests__/useUserCountry.test.tsx
  testHelper/polly/createPollyContext.ts
  testHelper/polly/getCurrentTestPath.ts
  web-test-runner.config.js
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

chore: remove unused dependences
  package-lock.json
  package.json
  patches/snowpack+3.8.6.patch
  snowpack.config.mjs
  src/hooks/spotify/query/__tests__/useSearchPlayList.test.tsx
  src/hooks/spotify/query/useGetSeveralTracks.ts
  src/hooks/spotify/query/useSearchPlayList.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

test: use default jest27 test runner on config
  jest.config.js
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

fix: expect should allow 2 messages
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

ci: unable build because missing type
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

ci: fix unable pass eslint
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

ci: fix dependabot would fail test
  .github/workflows/pr.yml
Due: npx prettier --write

chore: disable auto update snowpack
  .github/dependabot.yml
Due: npx prettier --write

fix: test attempt modify window object
  src/Routes/__tests__/auth/login/callback/index.test.tsx
Due: npx eslint --fix, npx prettier --write, npx stylelint

fix: test use fake-timer will never end
  package-lock.json
  package.json
  src/hooks/utils/__tests__/useInterval.test.tsx
  testHelper/test-runner/fake-timer.ts
  testHelper/test-runner/index.ts
  testHelper/utils/delay.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

fix: will watch all file in node_modules on ci
  public/index.css
  public/index.html
  public/index.tsx
  snowpack.config.mjs
  tsconfig.json
Due: npx eslint --fix, npx prettier --write, npx stylelint
