Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx prettier --parser html --write, npx stylelint, npx npmPkgJsonLint

feat: setup gcp with pulumi
  systems/infrastructure/.lintstagedrc.json
  systems/infrastructure/.npmrc
  systems/infrastructure/.nvmrc
  systems/infrastructure/.pylintrc
  systems/infrastructure/__main__.py
  systems/infrastructure/gcp/cloud_run.py
  systems/infrastructure/gcp/cloud_storage.py
  systems/infrastructure/gcp/container_registry.py
  systems/infrastructure/poetry.lock
  systems/infrastructure/pyproject.toml
  systems/infrastructure/scripts/ci/setup.sh
  systems/infrastructure/scripts/pre-commit.sh
  systems/infrastructure/simple-http-api/Dockerfile
  systems/infrastructure/simple-http-api/index.html
Due: npx eslint --fix, npx prettier --write

test: include basic test for prove pulumi api work
  .github/workflows/test-infrastructure.yml
  systems/http-api/scripts/setup.sh
  systems/infrastructure/.python-version
  systems/infrastructure/gcp/cloud_run.py
  systems/infrastructure/gcp/cloud_storage.py
  systems/infrastructure/gcp/container_registry.py
  systems/infrastructure/gcp/test_cloud_run.py
  systems/infrastructure/gcp/test_cloud_storage.py
  systems/infrastructure/gcp/test_container_registry.py
  systems/infrastructure/poetry.lock
  systems/infrastructure/pyproject.toml
  systems/infrastructure/scripts/ci/test.sh
  systems/infrastructure/scripts/pre-push.sh
  systems/web-frontend/web-frontend.iml
Due: npx prettier --write

feat: Dockerfile for http-api
  systems/http-api/Dockerfile
  systems/http-api/docker-compose-dev.yml
Due: npx prettier --write

feat(wip): api SSR
  systems/http-api/.lintstagedrc.json
  systems/http-api/README.md
  systems/http-api/app/backend.py
  systems/http-api/app/frontend.py
  systems/http-api/app/main.py
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/poetry.lock
  systems/http-api/pyproject.toml
  systems/http-api/static/sample-manifest.json
  systems/http-api/templates/index.html
  systems/web-frontend/package-lock.json
  systems/web-frontend/package.json
  systems/web-frontend/snowpack.config.mjs
  systems/web-frontend/src/Routes/__tests__/auth/login/callback/index.test.tsx
  systems/web-frontend/src/components/Nav/index.tsx
  systems/web-frontend/src/pages/auth/login/utils/__tests__/verifyAuthCallback.test.ts
  systems/web-frontend/src/pages/auth/login/utils/verifyAuthCallback.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

fix: tsc not working
  systems/web-frontend/scripts/ci/test.sh
  systems/web-frontend/scripts/pre-push.sh
  systems/web-frontend/src/contexts/Auth/AuthContext.tsx
  systems/web-frontend/src/contexts/SpotifyWebPlayback/states/IdlePlaybackState/index.ts
  systems/web-frontend/src/contexts/SpotifyWebPlayback/states/IdlePlaybackState/typings.d.ts
  systems/web-frontend/src/contexts/SpotifyWebPlayback/states/RemotePlaybackState/index.ts
  systems/web-frontend/src/contexts/SpotifyWebPlayback/states/RemotePlaybackState/typings.d.ts
  systems/web-frontend/src/hooks/__tests__/useSpotifyAPIClient.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/usePlayList.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useUserPlayList.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useUserTop.test.tsx
  systems/web-frontend/src/hooks/spotify/query/useAlbum.ts
  systems/web-frontend/src/hooks/spotify/query/useAvailableDevices.ts
  systems/web-frontend/src/hooks/spotify/query/useFeaturedPlaylists.ts
  systems/web-frontend/src/hooks/spotify/query/usePlayList.ts
  systems/web-frontend/src/hooks/spotify/query/useRecentPlayedTrack.ts
  systems/web-frontend/src/hooks/spotify/query/useRecommendations.ts
  systems/web-frontend/src/hooks/spotify/query/useSuggestedAlbumByUserLastPlayedArtists.ts
  systems/web-frontend/src/hooks/spotify/query/useSuggestedAlbumByUserLastPlayedTracks.ts
  systems/web-frontend/src/hooks/spotify/query/useSuggestedAlbumByUserTopArtistGenres.ts
  systems/web-frontend/src/hooks/spotify/query/useSuggestedAlbumByUserTopArtists.ts
  systems/web-frontend/src/hooks/spotify/query/useSuggestedAlbumByUserTopTracks.ts
  systems/web-frontend/src/hooks/spotify/query/useUserPlayList.ts
  systems/web-frontend/src/hooks/spotify/query/useUserTop.ts
  systems/web-frontend/src/hooks/spotify/typings/QueryResponse.d.ts
  systems/web-frontend/src/hooks/useUserCountry.ts
  systems/web-frontend/src/utils/__tests__/createSpotifyAPIClient.test.ts
  systems/web-frontend/testHelper/signToken/index.js
  systems/web-frontend/tsconfig.json
Due: npx eslint --fix, npx prettier --write, npx stylelint

feat: build script for push docker image to gcp
  .idea/modules.xml
  systems/cli/cli.iml
  systems/http-api/.dockerignore
  systems/http-api/Dockerfile
  systems/http-api/scripts/ci/build.sh
  systems/http-api/static/.gitignore
  systems/infrastructure/__main__.py
  systems/infrastructure/gcp/cloud_run.py
  systems/infrastructure/gcp/cloud_storage.py
  systems/infrastructure/gcp/container_registry.py
Due: none

feat: deploy api to gcp cloud run
  systems/http-api/scripts/ci/build-and-deploy.sh
  systems/http-api/scripts/ci/build.sh
  systems/http-api/scripts/ci/deploy.sh
  systems/infrastructure/README.md
  systems/infrastructure/gcp/test_cloud_storage.py
Due: npx prettier --write

feat: script for deploy cloud stoage
  .github/workflows/test-web-frontend.yml
  systems/web-frontend/scripts/ci/build.sh
  systems/web-frontend/scripts/ci/deploy.sh
  systems/web-frontend/snowpack.config.mjs
Due: npx prettier --write

ci: deployment workflow
  .github/workflows/deploy-api-and-frontend.yml
  netlify.toml
  systems/http-api/scripts/ci/build-and-deploy.sh
  systems/web-frontend/scripts/build.sh
  systems/web-frontend/scripts/ci/deploy.sh
Due: npx prettier --write

fixup! feat: script for deploy cloud stoage
  systems/web-frontend/scripts/ci/test.sh
  systems/web-frontend/web-frontend.iml
Due: none

ci: fix deployment
  .github/workflows/deploy-api-and-frontend.yml
Due: npx prettier --write

ci: auth docker on ci
  .github/workflows/deploy-api-and-frontend.yml
  systems/http-api/scripts/ci/deploy.sh
Due: npx prettier --write

fixup! ci: auth docker on ci
  .github/workflows/deploy-api-and-frontend.yml
Due: npx prettier --write

fixup! ci: auth docker on ci
  systems/http-api/scripts/ci/deploy.sh
Due: none

fix: typing after upgrade axios
  systems/http-api/package-lock.json
  systems/web-frontend/package-lock.json
  systems/web-frontend/src/hooks/spotify/query/useUserTop.ts
  systems/web-frontend/src/utils/__tests__/createSpotifyAPIClient.test.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint

chore: upgrade stylelint 14.0
  .idea/stylesheetLinters/stylelint.xml
  systems/web-frontend/.stylelintrc.json
  systems/web-frontend/package-lock.json
  systems/web-frontend/package.json
  systems/web-frontend/stylelint.config.js
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

chore: update eslint to 8
  systems/cli/package-lock.json
  systems/cli/package.json
  systems/web-frontend/package-lock.json
  systems/web-frontend/package.json
  systems/web-frontend/src/components/UserPlayList/__tests__/UserPlayList.test.tsx
  systems/web-frontend/src/contexts/SpotifyWebPlayback/states/IdlePlaybackState/typings.d.ts
  systems/web-frontend/src/hooks/spotify/query/__tests__/usePlayList.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useRecentPlayedTrack.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useSuggestedAlbumByUserLastPlayedArtists.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useSuggestedAlbumByUserLastPlayedTracks.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useSuggestedAlbumByUserTopArtistGenres.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useSuggestedAlbumByUserTopArtists.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useSuggestedAlbumByUserTopTracks.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useUserPlayList.test.tsx
  systems/web-frontend/src/hooks/spotify/query/__tests__/useUserTop.test.tsx
  systems/web-frontend/testHelper/polly/createPollyContext.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

ci: pulumi deployment
  .github/workflows/deploy-api-and-frontend.yml
  systems/infrastructure/Pulumi.dev.yaml
  systems/infrastructure/gcp/cloud_run.py
  systems/infrastructure/gcp/cloud_storage.py
  systems/infrastructure/gcp/container_registry.py
  systems/infrastructure/gcp/test_cloud_storage.py
Due: npx prettier --write

ci: fix snowpack used old storage url
  systems/web-frontend/snowpack.config.mjs
Due: none

fix: cors config on bucket
  systems/infrastructure/gcp/cloud_storage.py
Due: none

fix: production empty page
  systems/http-api/app/frontend.py
  systems/http-api/templates/index.html
Due: none

docs: update production domain
  README.md
Due: npx prettier --write

ci: only deploy when push to master
  .github/workflows/deploy-api-and-frontend.yml
Due: npx prettier --write

Path conditions:
  npx eslint --fix: ((any of: *.json) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  npx prettier --write: (((any of: *.json) or (any of: *.{css,md,yaml,yml})) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  npx prettier --parser html --write: any of: *.svg
  npx stylelint: any of: *.{js,jsx,ts,tsx}
  npx npmPkgJsonLint: any of: package.json
