Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

chore(deps): update commitlint monorepo to v12.1.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: remove inline eslint rules
  .eslintrc.js
  testHelper/signToken/index.js
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: remove unused folders
  __fixtures__/album.json
  __fixtures__/artist.json
  __fixtures__/playlist.json
  __fixtures__/track.json
Due: yarn eslint --fix, yarn prettier --write

fix: when fetch top streaming report from custom function failure should not fail
  src/hooks/spotify/query/useTopStreamingTracksReport.ts
  src/pages/index/components/Present/PresentSuggestAlbum.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestAlbum.test.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestPlayList.test.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix: track name will over the container size
  src/components/MusicPlayback/components/TrackInfo/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix: when play on local device time will not auto increment
  .idea/csv-plugin.xml
  src/components/MusicPlayback/components/PlaybackControl/TimeBar/__tests__/index.test.tsx
  src/components/MusicPlayback/components/PlaybackControl/TimeBar/index.tsx
  src/components/MusicPlayback/index.tsx
  src/contexts/SpotifyWebPlayback/hooks/useLocalSpotifyPlayback.ts
  src/contexts/SpotifyWebPlayback/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix(deps): update dependency react-query to v3.13.4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat(ui): volumebar
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/index.tsx
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/volume-high.svg
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/volume-low.svg
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/volume-medium.svg
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/volume-off.svg
  src/components/MusicPlayback/components/ExtraControl/index.tsx
  src/components/MusicPlayback/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint

chore(deps): update dependency eslint-plugin-typescript-sort-keys to v1.6.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

ci: change action name
  .github/workflows/push.yml
Due: yarn prettier --write

fix: read volume from sdk exposed method
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

feat: integrate set player volume API
  src/components/MusicPlayback/index.tsx
  src/contexts/SpotifyWebPlayback/__tests__/index.test.tsx
  src/contexts/SpotifyWebPlayback/index.tsx
  src/utils/createSpotifyAPIClient.ts
  testHelper/polly/setupMockServer.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

test: volumebar ui test
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/__tests__/index.test.tsx
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/index.tsx
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState.ts
  src/contexts/SpotifyWebPlayback/states/__tests__/LocalPlaybackState.test.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency open to v8.0.5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.14.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.15.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat(ui): pick connected playback device
  package.json
  src/components/MusicPlayback/components/ExtraControl/PickConnectedDevice/ConnectedDeviceList/ConnectedDeviceItem.tsx
  src/components/MusicPlayback/components/ExtraControl/PickConnectedDevice/ConnectedDeviceList/connect-header.png
  src/components/MusicPlayback/components/ExtraControl/PickConnectedDevice/ConnectedDeviceList/index.tsx
  src/components/MusicPlayback/components/ExtraControl/PickConnectedDevice/index.tsx
  src/components/MusicPlayback/components/ExtraControl/index.tsx
  src/contexts/SpotifyWebPlayback/index.tsx
  src/contexts/SpotifyWebPlayback/states/PlaybackState.ts
  src/contexts/Theme/index.tsx
  src/hooks/utils/useToggle.ts
  src/pages/album/:albumId/components/Heading/index.tsx
  src/pages/index/components/Present/PresentSuggestAlbum.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  src/pages/playlist/:playlistId/components/Heading/index.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

fix(deps): update dependency react-use to v17.2.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.15.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: banner show indicate playing on remote play back
  src/Routes/index.tsx
  src/components/MusicPlayback/components/ExtraControl/PickConnectedDevice/ConnectedDeviceList/ConnectedDeviceItem.tsx
  src/components/MusicPlayback/components/ExtraControl/PickConnectedDevice/ConnectedDeviceList/spotify-connect-icon.svg
  src/components/MusicPlayback/components/ExtraControl/PickConnectedDevice/index.tsx
  src/components/RemotePlaybackBanner/index.tsx
  src/components/RemotePlaybackBanner/spotify-connect-icon.svg
Due: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint

fix: missing text ellipsis when long text
  src/pages/index/components/Present/PresentSuggestAlbum.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update node.js to v14.16.1
  .nvmrc
Due: none

refactor(wip): player idle state
  src/components/RemotePlaybackBanner/index.tsx
  src/contexts/SpotifyWebPlayback/index.tsx
  src/contexts/SpotifyWebPlayback/states/IdlePlaybackState.ts
  src/contexts/SpotifyWebPlayback/states/LocalPlaybackState.ts
  src/contexts/SpotifyWebPlayback/states/PlaybackState.ts
  src/contexts/SpotifyWebPlayback/states/RemotePlaybackState.ts
  src/contexts/SpotifyWebPlayback/states/__tests__/LocalPlaybackState.test.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency netlify-cli to v3.15.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: each component read context individually
  src/components/MusicPlayback/components/ExtraControl/VolumeBar/index.tsx
  src/components/MusicPlayback/components/ExtraControl/index.tsx
  src/components/MusicPlayback/components/PlaybackControl/ControlButtons/index.tsx
  src/components/MusicPlayback/components/PlaybackControl/index.tsx
  src/components/MusicPlayback/components/TrackInfo/index.tsx
  src/components/MusicPlayback/index.tsx
  src/contexts/SpotifyWebPlayback/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix(deps): update dependency @styled-icons/bootstrap to v10.33.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/aws-lambda to v8.10.75
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.16.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

Path conditions:
  yarn eslint --fix: ((any of: *.json) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  yarn prettier --write: (((any of: *.json) or (any of: *.{css,md,yaml,yml})) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  yarn prettier --parser html --write: any of: *.svg
  yarn stylelint: any of: *.{js,jsx,ts,tsx}
  yarn npmPkgJsonLint: any of: package.json
