Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx prettier --parser html --write, npx stylelint, npx npmPkgJsonLint

fixup! fix: will watch all file in node_modules on ci
  .github/workflows/pr.yml
  package.json
  snowpack.config.mjs
  src/pages/auth/login/utils/__tests__/loginRedirect.test.ts
  testHelper/test-runner/expect.ts
  testHelper/test-runner/matchers/jest-dom.ts
  web-test-runner.config.js
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

chore: keep update snowpack
  .github/dependabot.yml
Due: npx prettier --write

chore: remove test log on ci
  web-test-runner.config.js
Due: npx eslint --fix, npx prettier --write, npx stylelint

fixup! Merge pull request #1553 from davidNHK/chore/adjust-config
  .github/workflows/push.yml
Due: npx prettier --write

fixup! feat: migrate to mono-repo
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .husky/pre-commit
  .husky/pre-push
  scripts/setup.sh
  scripts/test/jest.sh
  scripts/test/lchi.sh
  systems/web-frontend/package.json
  systems/web-frontend/scripts/build.sh
  systems/web-frontend/scripts/ci/test.sh
  systems/web-frontend/scripts/pre-commit.sh
  systems/web-frontend/scripts/pre-push.sh
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

feat: init pulumi
  systems/infrastructure/.gitignore
  systems/infrastructure/Pulumi.yaml
  systems/infrastructure/__main__.py
  systems/infrastructure/package.json
  systems/infrastructure/requirements.txt
  systems/infrastructure/scripts/build.sh
  systems/infrastructure/scripts/ci/test.sh
  systems/infrastructure/scripts/pre-commit.sh
  systems/infrastructure/scripts/pre-push.sh
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

docs: ADR for cache recommendation feed
  docs/adr/0001-cache-recommendation-feed/README.md
  docs/adr/template.md
Due: npx prettier --write

fixup! Merge pull request #1559 from davidNHK/issue/1557
  docs/adr/0001-cache-recommendation-feed/README.md
  docs/adr/template.md
Due: npx prettier --write

docs: adr for api stack
  docs/adr/0002-api-backend-stack/README.md
  docs/adr/0002-api-backend-stack/puml/architecture.puml
Due: npx prettier --write

fixup! docs: adr for api stack
  docs/adr/0002-api-backend-stack/README.md
Due: npx prettier --write

feat: set python api
  systems/http-api/.gitignore
  systems/http-api/.idea/.gitignore
  systems/http-api/.idea/dbnavigator.xml
  systems/http-api/.idea/http-api.iml
  systems/http-api/.idea/inspectionProfiles/profiles_settings.xml
  systems/http-api/.idea/misc.xml
  systems/http-api/.idea/modules.xml
  systems/http-api/.idea/vcs.xml
  systems/http-api/.idea/watcherTasks.xml
  systems/http-api/.python-version
  systems/http-api/README.md
  systems/http-api/app/__init__.py
  systems/http-api/app/main.py
  systems/http-api/app/routers/__init__.py
  systems/http-api/app/routers/recommendation/__init__.py
  systems/http-api/app/routers/recommendation/test/__init__.py
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/poetry.lock
  systems/http-api/pyproject.toml
Due: npx prettier --write

docs: add Sponsor section
  README.md
Due: npx prettier --write

chore: migeate IntelliJ Ultimate
  .idea/misc.xml
  .idea/modules.xml
  .idea/poetry.xml
  .idea/runConfigurations.xml
  .idea/spotify-music-player.iml
  spotify-music-player.iml
  systems/http-api/http-api.iml
  systems/web-frontend/web-frontend.iml
Due: none

ci: include http-api in github action
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .github/workflows/test-http-api.yml
  .github/workflows/test-web-frontend.yml
  scripts/setup.sh
  systems/http-api/.lintstagedrc.json
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/package.json
  systems/http-api/pyproject.toml
  systems/http-api/scripts/ci/setup.sh
  systems/http-api/scripts/ci/test.sh
  systems/http-api/scripts/pre-commit.sh
  systems/http-api/scripts/pre-push.sh
  systems/http-api/scripts/setup.sh
  systems/web-frontend/package-lock.json
  systems/web-frontend/package.json
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

docs: include github action badge
  README.md
Due: npx prettier --write

chore: include python dependency update
  .github/dependabot.yml
Due: npx prettier --write

ci: include test for default workspace
  .github/workflows/test-workspace.yml
Due: npx prettier --write

test: remove jest-message-util patch
  systems/web-frontend/package-lock.json
  systems/web-frontend/package.json
  systems/web-frontend/patches/jest-message-util+27.2.0.patch
  systems/web-frontend/snowpack.config.mjs
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

fix: ci config not always execute
  .github/workflows/test-workspace.yml
Due: npx prettier --write

ci: cache dependence on ci
  .github/dependabot.yml
  .github/workflows/test-http-api.yml
  .github/workflows/test-web-frontend.yml
  .github/workflows/test-workspace.yml
Due: npx prettier --write

chore: remove snowpack patch
  .npmrc
  package-lock.json
  systems/web-frontend/.npmrc
  systems/web-frontend/package-lock.json
  systems/web-frontend/package.json
  systems/web-frontend/patches/snowpack+3.8.6.patch
  systems/web-frontend/public/index.html
  systems/web-frontend/snowpack.config.mjs
  systems/web-frontend/web-test-runner.config.js
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

fix: tmp include @babel/code-frame to make code work
  systems/web-frontend/.lighthouserc.json
  systems/web-frontend/package-lock.json
  systems/web-frontend/package.json
  systems/web-frontend/snowpack.config.mjs
  systems/web-frontend/testHelper/test-runner/expect.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint, npx npmPkgJsonLint

chore: extract pylint config
  systems/http-api/.pylintrc
  systems/http-api/poetry.lock
  systems/http-api/pyproject.toml
Due: none

chore: include pyright for typecheck
  .idea/watcherTasks.xml
  systems/http-api/.lintstagedrc.json
  systems/http-api/.npmrc
  systems/http-api/.nvmrc
  systems/http-api/app/routers/recommendation/__init__.py
  systems/http-api/app/routers/recommendation/services/get_recommend_albums.py
  systems/http-api/app/utils/dedupe.py
  systems/http-api/app/utils/flatten.py
  systems/http-api/package-lock.json
  systems/http-api/package.json
  systems/http-api/pyrightconfig.json
  systems/http-api/scripts/ci/test.sh
Due: npx eslint --fix, npx prettier --write, npx npmPkgJsonLint

refactor: make TypedHTTPException class for ensure error format
  systems/http-api/.pylintrc
  systems/http-api/app/exception_handlers/http_exception_handler.py
  systems/http-api/app/exceptions/__init__.py
  systems/http-api/app/exceptions/typed_http_exception.py
  systems/http-api/app/routers/recommendation/__init__.py
  systems/http-api/app/test/__init__.py
  systems/http-api/app/test/test_exception_handler.py
Due: none

refactor: avoid any type
  systems/http-api/app/utils/dedupe.py
  systems/http-api/app/utils/flatten.py
Due: none

feat: support recommend by recent played tracks
  systems/http-api/app/dependencies/get_spotify_api_client.py
  systems/http-api/app/routers/recommendation/__init__.py
  systems/http-api/app/routers/recommendation/services/__init__.py
  systems/http-api/app/routers/recommendation/services/get_recent_played_artists.py
  systems/http-api/app/routers/recommendation/services/get_recent_played_tracks.py
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/test_helpers/dependencies/get_spotify_api_client.py
  systems/http-api/test_helpers/seeds/__init__.py
  systems/http-api/test_helpers/seeds/track_object.py
Due: none

refactor: mock server become opt-in
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/test_helpers/__init__.py
  systems/http-api/test_helpers/dependencies/__init__.py
  systems/http-api/test_helpers/dependencies/get_spotify_api_client.py
  systems/http-api/test_helpers/fixtures/test_app.py
  systems/http-api/test_helpers/use_mock_spotify_server.py
Due: none

feat: endpoint for get recommend by user top track
  systems/http-api/app/routers/recommendation/__init__.py
  systems/http-api/app/routers/recommendation/services/__init__.py
  systems/http-api/app/routers/recommendation/services/get_user_top_tracks.py
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/test_helpers/dependencies/get_spotify_api_client.py
Due: none

feat: endpoint for get recommend for user top artists
  systems/http-api/app/routers/recommendation/__init__.py
  systems/http-api/app/routers/recommendation/router.py
  systems/http-api/app/routers/recommendation/services/__init__.py
  systems/http-api/app/routers/recommendation/services/get_user_top_artists.py
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/test_helpers/dependencies/get_spotify_api_client.py
Due: none

feat: endpoint for recomend by genres
  systems/http-api/.pylintrc
  systems/http-api/app/routers/recommendation/router.py
  systems/http-api/app/routers/recommendation/services/__init__.py
  systems/http-api/app/routers/recommendation/services/get_user_top_artists_genres.py
  systems/http-api/app/routers/recommendation/services/test/__init__.py
  systems/http-api/app/routers/recommendation/services/test/test_get_user_top_artists_genres.py
  systems/http-api/app/routers/recommendation/test/test_read_recommendation_feed.py
  systems/http-api/poetry.lock
  systems/http-api/pyproject.toml
Due: none

refactor: swagger doc error response
  systems/http-api/.pylintrc
  systems/http-api/app/dependencies/get_spotify_api_client.py
  systems/http-api/app/exception_handlers/validation_exception_handler.py
  systems/http-api/app/main.py
  systems/http-api/app/schemas/__init__.py
  systems/http-api/app/schemas/error_response.py
Due: none

chore: configure iac code base
  .idea/modules.xml
  systems/infrastructure/Pulumi.yaml
  systems/infrastructure/infrastructure.iml
  systems/infrastructure/poetry.lock
  systems/infrastructure/pyproject.toml
  systems/infrastructure/requirements.txt
Due: npx prettier --write

chore: enable dependance update on infrastructure
  .github/dependabot.yml
Due: npx prettier --write

chore: setup gcloud cli
  systems/infrastructure/Pulumi.spotify-music-player.yaml
Due: npx prettier --write

chore: init pulumi
  .idea/watcherTasks.xml
  systems/infrastructure/Pulumi.dev.yaml
  systems/infrastructure/Pulumi.yaml
  systems/infrastructure/__main__.py
  systems/infrastructure/poetry.lock
  systems/infrastructure/pyproject.toml
Due: npx prettier --write

fix: repeat mode mapping on local playback is wrong
  systems/web-frontend/src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/__tests__/LocalPlaybackState.test.ts
  systems/web-frontend/src/contexts/SpotifyWebPlayback/states/LocalPlaybackState/index.ts
Due: npx eslint --fix, npx prettier --write, npx stylelint

feat(wip): setup gcp enviroment
  commitlint.config.js
  systems/infrastructure/README.md
  systems/infrastructure/__main__.py
  systems/infrastructure/gcp/__init__.py
  systems/infrastructure/gcp/cloud_run.py
  systems/infrastructure/gcp/cloud_storage.py
  systems/infrastructure/gcp/container_registry.py
  systems/infrastructure/poetry.lock
  systems/infrastructure/pyproject.toml
  systems/infrastructure/simple-http-docker/Dockerfile
  systems/infrastructure/simple-http-docker/index.html
Due: npx eslint --fix, npx prettier --write, npx stylelint

Path conditions:
  npx eslint --fix: ((any of: *.json) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  npx prettier --write: (((any of: *.json) or (any of: *.{css,md,yaml,yml})) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  npx prettier --parser html --write: any of: *.svg
  npx stylelint: any of: *.{js,jsx,ts,tsx}
  npx npmPkgJsonLint: any of: package.json
