Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/eslint-config to v5.2.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/tsconfig to v1.3.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: upgrade eslint
  package.json
  src/Routes/index.tsx
  src/__tests__/App.test.tsx
  src/components/ErrorBoundary/Auth/__tests__/index.test.tsx
  src/components/ErrorBoundary/DataFetching/__tests__/index.test.tsx
  src/components/Nav/__tests__/index.test.tsx
  src/components/Panel/__tests__/index.test.tsx
  src/components/UserPlayList/__tests__/UserPlayList.test.tsx
  src/contexts/Auth/AuthContext.tsx
  src/hooks/__tests__/useAccessToken.test.tsx
  src/pages/__tests__/index.test.tsx
  src/pages/auth/login/__tests__/index.test.tsx
  src/pages/auth/login/index.tsx
  src/pages/playlist/:playListId/components/Heading/__tests__/index.test.tsx
  src/pages/playlist/:playListId/components/Heading/index.tsx
  src/pages/playlist/:playListId/components/TracksList/__tests__/index.test.tsx
  src/services/spotify/playlist/__tests__/__recordings__/get-items-beside-of-playlist_2901413722/recording.har
  src/services/spotify/playlist/__tests__/__recordings__/get-playlist_1207821307/recording.har
  src/services/spotify/playlist/__tests__/__recordings__/resolve-all-playList_1225860670/recording.har
  src/services/spotify/playlist/__tests__/getPlayList.test.ts
  src/services/spotify/playlist/__tests__/getPlayListItems.test.ts
  src/services/spotify/playlist/getPlayList.ts
  src/services/spotify/playlist/getPlayListItems.ts
  src/services/spotify/typings/fetcher.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn npmPkgJsonLint

fix(eslint): use leaset version of eslint
  .github/workflows/pr.yml
  package.json
  scripts/test/lint.sh
  src/components/Nav/__tests__/index.test.tsx
  src/components/Panel/__tests__/index.test.tsx
  src/contexts/Theme/__tests__/index.test.tsx
  src/pages/playlist/:playListId/__tests__/index.test.tsx
  src/pages/playlist/:playListId/index.tsx
  src/setupTests.ts
  typings/global.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn npmPkgJsonLint

chore(page): rename auth to Auth
  src/pages/Auth/Login/__tests__/index.test.tsx
  src/pages/Auth/Login/callback/index.tsx
  src/pages/Auth/Login/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! chore(page): rename auth to Auth
  src/pages/auth/login/__tests__/index.test.tsx
  src/pages/auth/login/callback/index.tsx
  src/pages/auth/login/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fix(ts): global missing type
  src/utils/tests/getCurrentTestPath.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

ci: fix incorrect path for eslint
  scripts/lint.sh
Due: none

chore(deps): update dependency @testing-library/react-hooks to v3.5.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/jest-expect-message to v1.0.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency swr to v0.3.9
  package.json
  src/contexts/DataFetching/index.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn npmPkgJsonLint

fix(deps): update dependency swr to v0.3.9
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @pollyjs/adapter-node-http to v5.0.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-scripts to v4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): upgrade husky to v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react-hooks to v3.6.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: enable preflight check
  .env
Due: none

fixup! fix(deps): upgrade to cra4
  .idea/jsLibraryMappings.xml
  .idea/spotify-music-player.iml
  src/Routes/Content.tsx
  src/contexts/DataFetching/index.tsx
  src/pages/index/components/__tests__/SuggestPlayListByLastPlayedArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByLastPlayedTrack.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByTopArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByTopTrack.test.tsx
  src/services/spotify/auth/__tests__/authorize.test.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): update dependency @types/jest to v26.0.17
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react-hooks to v3.7.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/jest to v26.0.18
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/styled-components to v5.1.5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update paambaati/codeclimate-action action to v2.7.5
  .github/workflows/pr.yml
  .github/workflows/push.yml
Due: yarn prettier --write

chore(deps): update dependency @types/jest to v26.0.19
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

Path conditions:
  yarn eslint --fix: (any of: *.json) or (any of: package.json)
  yarn prettier --write: (((any of: *.json) or (any of: *.{css,md,yaml,yml})) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  yarn prettier --parser html --write: any of: *.svg
  yarn eslint --max-warnings 0 --fix: any of: *.{js,jsx,ts,tsx}
  yarn stylelint: any of: *.{js,jsx,ts,tsx}
  yarn npmPkgJsonLint: any of: package.json
