Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn prettier --parser html --write

feat: coverage report
  .github/workflows/main.yml
  .idea/workspace.xml
Due: yarn prettier --write

chore: badge
  .github/workflows/main.yml
  .idea/workspace.xml
  README.md
Due: yarn prettier --write

chore: run action on push
  .github/workflows/main.yml
  .idea/workspace.xml
Due: yarn prettier --write

chore: only push to development/master when run CI
  .github/workflows/main.yml
  .idea/workspace.xml
Due: yarn prettier --write

chore: only push to development/master will run CI
  .github/workflows/main.yml
  .idea/workspace.xml
Due: yarn prettier --write

docs: how to install
  .idea/workspace.xml
  README.md
Due: yarn prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @testing-library/react to v9.5.0
  package.json
  yarn.lock
Due: yarn prettier --write

feat: fixed height for bottom area
  .idea/workspace.xml
  src/components/Panel/index.tsx
Due: none

feat: nav menu UI
  .idea/workspace.xml
  src/App.tsx
  src/components/Nav/index.tsx
  src/components/Panel/__tests__/index.test.tsx
  src/components/Panel/index.tsx
  src/contexts/Theme/__tests__/index.test.tsx
  src/contexts/Theme/index.tsx
  src/pages/Home/__tests__/index.test.tsx
  src/pages/Home/index.tsx
  src/themes/index.ts
  tsconfig.json
  typings/styled-components.d.ts
Due: yarn prettier --write

fixup! feat: nav menu UI
  .idea/workspace.xml
  src/pages/Home/__tests__/index.test.tsx
Due: none

chore: lint ts before commit
  .idea/workspace.xml
  .lintstagedrc.json
Due: yarn prettier --write

feat: playlist
  .idea/workspace.xml
  package.json
  src/components/Nav/index.tsx
  src/components/Playlist/index.tsx
  src/services/spotify/auth/getAuthorizeUrl.ts
  yarn.lock
Due: yarn prettier --write

feat: fetch playlist from spotify
  .idea/workspace.xml
  __fixtures__/playlist.json
  package.json
  src/__tests__/App.test.tsx
  src/components/Nav/__tests__/index.test.tsx
  src/components/Nav/index.tsx
  src/components/Playlist/__tests__/index.test.tsx
  src/components/Playlist/index.tsx
  src/hooks/__mocks__/useDataFetcher.ts
  src/hooks/__tests__/useAccessToken.test.tsx
  src/hooks/__tests__/useSpotifyAPIClient.test.ts
  src/hooks/useDataFetcher.ts
  src/hooks/useSpotifyAPIClient.ts
  src/services/spotify/auth/__tests__/getAuthorizeUrl.test.ts
  src/services/spotify/playlist/__tests__/getAllPlaylist.test.ts
  src/services/spotify/playlist/getAllPlaylist.ts
  src/services/spotify/typings/fetcher.d.ts
  src/setupTests.ts
  tsconfig.json
  typings/global.d.ts
  typings/spotify/Playlist.d.ts
  typings/spotify/index.d.ts
  yarn.lock
Due: yarn prettier --write

chore: eslint
  src/pages/Home/index.tsx
Due: none

chore: fixed height for playlist
  .idea/workspace.xml
  src/components/Playlist/index.tsx
Due: none

chore: remove nock
  .idea/workspace.xml
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/testing-library__react to v9.1.3
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency eslint-plugin-jest to v23.8.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore: move suspense and data fetching to module
  package.json
  src/components/HOC/__tests__/WithSuspense.test.tsx
  src/components/HOC/withSuspense.tsx
  src/components/Nav/index.tsx
  src/components/PlayList/PresentPlayList.tsx
  src/components/PlayList/__tests__/PresentPlayList.test.tsx
  src/components/PlayList/__tests__/index.test.tsx
  src/components/PlayList/index.tsx
  src/components/Playlist/index.tsx
  src/errors/AuthenticationCallbackError.ts
  src/errors/DataFetchingError.ts
  src/hooks/__tests__/useDataFetcher.test.ts
  src/hooks/useDataFetcher.ts
  src/services/spotify/playlist/getAllPlaylist.ts
  yarn.lock
Due: yarn prettier --write

fixup! chore: move suspense and data fetching to module
  .idea/workspace.xml
  src/Routes.tsx
  src/components/ErrorBoundary/Auth/__tests__/index.test.tsx
  src/components/ErrorBoundary/DataFetching/__tests__/index.test.tsx
  src/components/ErrorBoundary/DataFetching/index.tsx
  src/components/PlayList/PresentPlayList.tsx
  src/components/PlayList/__tests__/index.test.tsx
  src/hooks/__mocks__/useDataFetcher.ts
  src/hooks/__tests__/useDataFetcher.test.ts
  src/hooks/useDataFetcher.ts
Due: none

feat: fetch all playlist
  .idea/workspace.xml
  src/hooks/useSpotifyAPIClient.ts
  src/services/spotify/playlist/__tests__/getAllPlaylist.test.ts
  src/services/spotify/playlist/getAllPlaylist.ts
  src/services/spotify/typings/fetcher.d.ts
  src/utils/__tests__/createSpotifyAPIClient.test.ts
  src/utils/createSpotifyAPIClient.ts
Due: none

fixup! feat: fetch all playlist
  .idea/workspace.xml
  src/services/spotify/playlist/__tests__/getAllPlaylist.test.ts
  src/services/spotify/playlist/getAllPlaylist.ts
Due: none

chore(deps): pin dependency @spotify/eslint-config to 6.0.0
  package.json
  yarn.lock
Due: yarn prettier --write

feat: fetch all playlist
  .eslintrc.js
  .idea/runConfigurations/All_Tests.xml
  .idea/workspace.xml
  __recordings__/resolve-all-playList_1225860670/recording.har
  package.json
  src/components/PlayList/PresentPlayList.tsx
  src/polly.config.ts
  src/services/spotify/playlist/__tests__/getAllPlaylist.test.ts
  src/services/spotify/playlist/getAllPlaylist.ts
  src/setupTests.ts
  src/utils/createSpotifyAPIClient.ts
  typings/global.d.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! feat: fetch all playlist
  .idea/workspace.xml
  src/utils/createSpotifyAPIClient.ts
Due: none

chore(deps): update dependency @types/node to v13.9.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency eslint-plugin-react to v7.19.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/jest to v25.1.4
  package.json
  yarn.lock
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: (any of: *.{json,css,md,yaml,yml}) or (any of: *.{js,jsx})
  yarn eslint --max-warnings 0 --fix: any of: *.{js,jsx}
  yarn stylelint: any of: *.{js,jsx}
  yarn prettier --parser html --write: any of: *.svg
