Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn prettier --parser html --write

.lintstagedrc.json:

{
  "*.{json,css,md,yaml,yml}": ["yarn prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "yarn prettier --write",
    "yarn eslint --max-warnings 0 --fix",
    "yarn stylelint"
  ],
  "*.svg": ["yarn prettier --parser html --write"]
}

chore(deps): update dependency eslint-plugin-react to v7.20.3
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency typescript to v3.9.6
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/ramda to v0.27.7
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/eslint-config to v8.0.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore: rename playlist to suggestion
  .idea/jsLibraryMappings.xml
  .idea/workspace.xml
  src/Routes/Content.tsx
  src/components/Nav/index.tsx
  src/components/PlayList/PlayListSuggestion.tsx
  src/components/PlayList/Present/__tests__/PresentPlayListSmall.test.tsx
  src/components/PlayList/Present/typings/Props.d.ts
  src/components/PlayList/UserPlayList.tsx
  src/components/Suggestion/Present/PresentSuggestionList.tsx
  src/components/Suggestion/Present/__tests__/PresentSuggestionList.test.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedArtist.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedTrack.tsx
  src/components/Suggestion/SuggestPlayListByTopArtist.tsx
  src/components/Suggestion/SuggestPlayListByTopTrack.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByLastPlayedTrack.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopArtist.test.tsx
  src/components/Suggestion/__tests__/SuggestPlayListByTopTrack.test.tsx
  src/components/Suggestion/__tests__/index.test.tsx
  src/components/Suggestion/index.tsx
  src/components/UserPlayList/UserPlayList.tsx
  src/components/UserPlayList/__tests__/UserPlayList.test.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! chore: rename playlist to suggestion
  .idea/workspace.xml
  src/contexts/Auth/AuthContextProvider.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! fixup! chore: rename playlist to suggestion
  .idea/workspace.xml
  src/contexts/Auth/AuthContextProvider.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! fixup! fixup! chore: rename playlist to suggestion
  .idea/workspace.xml
  src/components/Nav/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fix: missing coverage report
  .idea/workspace.xml
  package.json
Due: yarn prettier --write

chore: remove use of global varaible
  .idea/workspace.xml
  typings/global.d.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fix: missing suggestion list
  .idea/workspace.xml
  src/components/Suggestion/Present/PresentSuggestionList.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedArtist.tsx
  src/components/Suggestion/SuggestPlayListByLastPlayedTrack.tsx
  src/components/Suggestion/SuggestPlayListByTopArtist.tsx
  src/components/Suggestion/SuggestPlayListByTopTrack.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! fix: missing suggestion list
  .idea/workspace.xml
  src/components/Suggestion/SuggestPlayListByLastPlayedArtist.tsx
  src/components/Suggestion/SuggestPlayListByTopArtist.tsx
  src/components/Suggestion/SuggestPlayListByTopTrack.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore: move suggestion to page
  .idea/workspace.xml
  src/Routes/Content.tsx
  src/components/Suggestion/index.tsx
  src/pages/Suggestion/__tests__/index.test.tsx
  src/pages/Suggestion/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat: remove calc from css
  .idea/workspace.xml
  src/components/Panel/index.tsx
  src/index.css
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): update dependency eslint to v7.4.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove unexpected webstorm config
  .gitignore
  .idea/workspace.xml
Due: none

feat: integrate commitizen for create commit message
  .idea/jsLibraryMappings.xml
  README.md
  commitlint.config.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): pin dependency commitizen to 4.1.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency eslint-plugin-jest to v23.18.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @testing-library/react to v10.4.4
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @typescript-eslint/parser to v3.6.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/jest to v26.0.4
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/prettier to v2.0.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/styled-components to v5.1.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency quicktype to v15.0.249
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/ramda to v0.27.10
  package.json
  yarn.lock
Due: yarn prettier --write
