Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

.lintstagedrc.json:

{
  "*.json": ["yarn eslint --fix", "yarn prettier --write"],
  "*.svg": ["yarn prettier --parser html --write"],
  "*.{css,md,yaml,yml}": ["yarn prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "yarn prettier --write",
    "yarn eslint --fix",
    "yarn stylelint"
  ],
  "package.json": [
    "yarn eslint --fix",
    "yarn prettier --write",
    "yarn npmPkgJsonLint"
  ]
}

chore: netlify config
  netlify.toml
Due: none

docs: add live enviroment from netlify
  README.md
Due: yarn prettier --write

chore: change local development client ID
  .env
Due: none

chore(deps): update dependency husky to v5.0.7
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency husky to v5.0.8
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency swr to v0.4.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-use to v16
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-use to v16.1.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-use to v17
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency eslint to v7.19.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: setup netlify function
  .babelrc.js
  .env
  .env.production
  .eslintignore
  .gitignore
  .husky/.gitignore
  .idea/spotify-music-player.iml
  .netlify/functions/fetch-top-stream-report.zip
  .netlify/state.json
  build-functions/fetch-spotify-charts-report.js
  build-functions/fetch-top-stream-report.js
  lambda/hello.ts
  netlify.toml
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

refactor: rename folder lambda to functions
  .eslintignore
  .gitignore
  functions/hello.ts
  netlify.toml
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

feat: netlify function for fetch sportify report
  .babelrc
  .babelrc.js
  .eslintrc.js
  .idea/spotify-music-player.iml
  functions/__tests__/__recordings__/fetch-spotify-charts-report.test/test-fetch-spotify-charts-report-fetch-csv-from-spotify-charts-and-transform-to-json_1488840632/recording.har
  functions/__tests__/fetch-spotify-charts-report.test.ts
  functions/fetch-spotify-charts-report.ts
  functions/hello.ts
  jest.config.functions.js
  package.json
  src/Routes/__tests__/ProtectedRoutes.test.tsx
  src/components/UserPlayList/__tests__/UserPlayList.test.tsx
  src/contexts/Auth/__tests__/AuthContext.test.tsx
  src/hooks/__tests__/useSpotifyAPIClient.test.tsx
  src/hooks/spotify/query/__tests__/usePlayList.test.tsx
  src/hooks/spotify/query/__tests__/useRecentPlayedTrack.test.tsx
  src/hooks/spotify/query/__tests__/useSearchPlayList.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByLastPlayedArtist.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByLastPlayedTrack.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserTopArtist.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserTopTrack.test.tsx
  src/hooks/spotify/query/__tests__/useUserPlayList.test.tsx
  src/hooks/spotify/query/__tests__/useUserTop.test.tsx
  src/pages/__tests__/index.test.tsx
  src/pages/auth/login/callback/__tests__/index.test.tsx
  src/pages/playlist/:playListId/__tests__/index.test.tsx
  src/utils/tests/__tests__/getCurrentTestPath.test.ts
  testHelper/createPollyContext.ts
  testHelper/getCurrentTestPath.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

feat: react hooks for fetch top streaming album
  functions/__tests__/__recordings__/fetch-spotify-charts-report.test/test-fetch-spotify-charts-report-fetch-csv-from-spotify-charts-and-transform-to-json_1488840632/recording.har
  functions/__tests__/__recordings__/fetch-top-stream-report.test/test-fetch-top-stream-report-fetch-csv-from-spotify-charts-and-transform-to-json_1704066302/recording.har
  functions/__tests__/fetch-top-stream-report.test.ts
  functions/fetch-top-stream-report.ts
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/useTopStreamingAlbum.test.tsx
  src/hooks/spotify/query/__tests__/useTopStreamingTracksReport.test.tsx
  src/hooks/spotify/query/useGetSeveralTracks.ts
  src/hooks/spotify/query/useTopStreamingAlbum.ts
  src/hooks/spotify/query/useTopStreamingTracksReport.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fixup! feat: netlify function for fetch sportify report
  .gitignore
  .idea/spotify-music-player.iml
  build-functions/fetch-spotify-charts-report.js
  netlify.toml
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

chore: use eslint on codeclimate for check style
  .codeclimate.yml
Due: yarn prettier --write

chore: disable all codeclimate maintainability check
  .codeclimate.yml
Due: yarn prettier --write

chore(deps): update dependency netlify-cli to v3.4.6
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

test: interceptor for proxy netlify functions
  functions/fetch-top-stream-report.ts
  functions/testHelper/interceptNetlifyFunctions.ts
  functions/utils/httpRequest.ts
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingTracksReport.test/use-top-streaming-report-fetch-top-steaming-report-from-backing-api_3246329727/recording.har
  src/hooks/spotify/query/__tests__/useTopStreamingAlbum.test.tsx
  src/hooks/spotify/query/__tests__/useTopStreamingTracksReport.test.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix(deps): update dependency react-use to v17.0.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

refactor: rename suggested playlist file name
  functions/__tests__/__recordings__/fetch-top-stream-report.test/test-fetch-top-stream-report-fetch-csv-from-spotify-charts-and-transform-to-json_1704066302/recording.har
  package.json
  src/components/UserPlayList/__tests__/__recordings__/UserPlayList.test/test-with-user-play-list-hoc-should-render-without-error_3474803194/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/usePlayList.test/return-playlist-info_1600870947/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useRecentPlayedTrack.test/return-user-recently-played-track_1273407338/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSearchPlayList.test/return-playlist-for-given-keyword_900534112/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedPlayListByLastPlayedArtist.test/return-playlist-of-user-by-last-played-artist_3013388251/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedPlayListByLastPlayedTrack.test/return-playlist-of-user-by-last-played-track_1557813535/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedPlayListByUserLastPlayedArtist.test/return-playlist-of-user-by-last-played-artist_3013388251/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedPlayListByUserLastPlayedTrack.test/return-playlist-of-user-by-last-played-track_1557813535/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedPlayListByUserTopArtist.test/return-playlist-of-user-by-top-artist_3104741902/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedPlayListByUserTopTrack.test/return-playlist-of-user-by-top-track_1297527244/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingTracksReport.test/use-top-streaming-report-fetch-top-steaming-report-from-backing-api_3246329727/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserPlayList.test/return-user-playlist_3891777474/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserTop.test/return-user-top-artist_3767885161/recording.har
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserLastPlayedArtist.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserLastPlayedTrack.test.tsx
  src/hooks/spotify/query/useSuggestedPlayListByUserLastPlayedArtist.ts
  src/hooks/spotify/query/useSuggestedPlayListByUserLastPlayedTrack.ts
  src/pages/index/components/SuggestAblumBySpotifyTopStreamTracks.tsx
  src/pages/index/components/SuggestPlayListByUserLastPlayedArtist.tsx
  src/pages/index/components/SuggestPlayListByUserLastPlayedTrack.tsx
  src/pages/index/components/SuggestPlayListByUserTopArtist.tsx
  src/pages/index/components/SuggestPlayListByUserTopTrack.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserLastPlayedArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserLastPlayedTrack.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserTopArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserTopTrack.test.tsx
  src/pages/index/index.tsx
  src/pages/playlist/:playListId/__tests__/__recordings__/index.test/render-with-play-list-hoc-pass-response-to-wrapper_3344042563/recording.har
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

feat: list top stream album on index page
  .gitignore
  build-functions/fetch-top-stream-report.js
  src/hooks/spotify/query/useTopStreamingAlbum.ts
  src/pages/__tests__/index.test.tsx
  src/pages/index/components/Present/PresentSuggestAlbum.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestAlbum.test.tsx
  src/pages/index/components/Present/__tests__/PresentSuggestPlayList.test.tsx
  src/pages/index/components/SuggestAblumBySpotifyTopStreamTracks.tsx
  src/pages/index/components/SuggestAlbumBySpotifyTopStreamTracks.tsx
  src/pages/index/components/SuggestPlayListByUserLastPlayedArtist.tsx
  src/pages/index/components/SuggestPlayListByUserLastPlayedTrack.tsx
  src/pages/index/components/SuggestPlayListByUserTopArtist.tsx
  src/pages/index/components/SuggestPlayListByUserTopTrack.tsx
  src/pages/index/components/__tests__/SuggestAlbumBySpotifyTopStreamTracks.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserLastPlayedArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserLastPlayedTrack.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserTopArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserTopTrack.test.tsx
  src/pages/index/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: enable record if missing
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedPlayListByUserTopArtist.test/return-playlist-of-user-by-top-artist_3104741902/recording.har
  testHelper/createPollyContext.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

test: ci run inband
  package.json
  scripts/test/jest.sh
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: integrate ipinfo to dynamic get the region
  .env
  .env.production
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/useTopStreamingAlbum.ts
  src/hooks/spotify/query/useTopStreamingTracksReport.ts
  src/hooks/useUserCountry.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: handle if country unavaible
  src/hooks/useUserCountry.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: suggest album title
  src/hooks/spotify/query/__tests__/useTopStreamingAlbum.test.tsx
  src/hooks/spotify/query/useTopStreamingAlbum.ts
  src/pages/index/components/SuggestAlbumBySpotifyTopStreamTracks.tsx
  src/pages/index/components/__tests__/SuggestAlbumBySpotifyTopStreamTracks.test.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

fix(deps): update dependency react-use to v17.0.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/babel-preset to v1.1.4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/eslint-config to v5.4.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint
