Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

chore(deps): update dependency @types/ramda to v0.27.37
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency swr to v0.4.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency husky to v5.0.9
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.6.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/ramda to v0.27.38
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update node.js to v14.15.5
  .nvmrc
Due: none

chore(deps): update dependency typescript to v4.1.4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.7.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.7.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-use to v17.1.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency typescript to v4.1.5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/user-event to v12.7.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: set up web playback sdk
  .env
  package.json
  src/App.tsx
  src/components/TracksList/__tests__/index.test.tsx
  src/contexts/Auth/AuthContext.tsx
  src/contexts/SpotifyWebPlayback/SpotifyPlayer.d.ts
  src/contexts/SpotifyWebPlayback/__tests__/index.test.tsx
  src/contexts/SpotifyWebPlayback/index.tsx
  src/contexts/SpotifyWebPlayback/testHelpers/mockPlayer.ts
  src/contexts/SpotifyWebPlayback/useSpotifyPlayer.ts
  src/pages/album/:albumId/components/TracksList/index.tsx
  src/pages/playlist/:playListId/components/TracksList/index.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

fix: eslint by disable @typescript-eslint/no-explicit-any
  .eslintrc.js
  src/pages/index/components/__tests__/AlbumByTopStreamTracks.test.tsx
  src/pages/index/components/__tests__/FeaturedPlayListBySpotify.test.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency @types/aws-lambda to v8.10.72
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency stylelint to v13.10.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: function get auto refresh token if access token expire
  src/contexts/Auth/AuthContext.tsx
  src/contexts/Auth/__tests__/AuthContext.test.tsx
  src/contexts/Auth/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: refresh all pollyJS snapshot
  functions/testHelper/polly/createPollyContext.ts
  src/components/UserPlayList/__tests__/__recordings__/UserPlayList.test/test-with-user-play-list-hoc-should-render-without-error_3474803194/recording.har
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-throw-exception-if-sing-token-always-error_920735180/recording.har
  src/hooks/__tests__/__recordings__/useUserCountry.test/use-user-country-should-return-my-current-location-hk_658722853/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useAlbum.test/test-use-album-fetch-the-album_248313800/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useFeaturedPlaylists.test/use-featured-playlists-get-featured-playlist_195703536/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/usePlayList.test/return-playlist-info_1600870947/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useRecentPlayedTrack.test/return-user-recently-played-track_1273407338/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSearchPlayList.test/return-playlist-for-given-keyword_900534112/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedArtists.test/return-playlist-of-user-by-last-played-artist_3013388251/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedTracks.test/return-playlist-of-user-by-last-played-track_1557813535/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtistGenres.test/return-albums-of-user-by-top-artist-genres_3703313907/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtists.test/return-playlist-of-user-by-top-artist_3104741902/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopTracks.test/return-playlist-of-user-by-top-track_1297527244/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserPlayList.test/return-user-playlist_3891777474/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserTop.test/return-user-top-artist_3767885161/recording.har
  src/pages/playlist/:playListId/__tests__/__recordings__/index.test/render-with-play-list-hoc-pass-response-to-wrapper_3344042563/recording.har
  testHelper/polly/createPollyContext.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency @types/react to v17.0.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/react-dom to v17.0.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency eslint to v7.20.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/node to v13.13.41
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

Path conditions:
  yarn eslint --fix: ((any of: *.json) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  yarn prettier --write: (((any of: *.json) or (any of: *.{css,md,yaml,yml})) or (any of: *.{js,jsx,ts,tsx})) or (any of: package.json)
  yarn prettier --parser html --write: any of: *.svg
  yarn stylelint: any of: *.{js,jsx,ts,tsx}
  yarn npmPkgJsonLint: any of: package.json
