Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

.lintstagedrc.json:

{
  "*.json": ["yarn eslint --fix", "yarn prettier --write"],
  "*.svg": ["yarn prettier --parser html --write"],
  "*.{css,md,yaml,yml}": ["yarn prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "yarn prettier --write",
    "yarn eslint --fix",
    "yarn stylelint"
  ],
  "package.json": [
    "yarn eslint --fix",
    "yarn prettier --write",
    "yarn npmPkgJsonLint"
  ]
}

chore(deps): update dependency @busybox/eslint-config to v5.4.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/tsconfig to v1.3.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-use to v17.1.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/user-event to v12.6.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat: page album/:albumId
  .eslintrc.js
  .idea/spotify-music-player.iml
  package.json
  src/Routes/ProtectedRoutes.tsx
  src/hooks/spotify/query/__tests__/__recordings__/useAlbum.test/test-use-album-fetch-the-album_248313800/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingTracksReport.test/use-top-streaming-report-fetch-top-steaming-report-from-backing-api_3246329727/recording.har
  src/hooks/spotify/query/__tests__/useAlbum.test.tsx
  src/hooks/spotify/query/useAlbum.ts
  src/hooks/spotify/typings/Album.d.ts
  src/pages/album/:albumId/components/Heading/__tests__/index.test.tsx
  src/pages/album/:albumId/components/Heading/index.tsx
  src/pages/album/:albumId/components/TracksList/__tests__/index.test.tsx
  src/pages/album/:albumId/components/TracksList/clock.svg
  src/pages/album/:albumId/components/TracksList/index.tsx
  src/pages/album/:albumId/index.tsx
  src/pages/playlist/:playListId/__tests__/index.test.tsx
  src/pages/playlist/:playListId/components/TracksList/__tests__/index.test.tsx
  src/pages/playlist/:playListId/components/TracksList/clock.svg
  src/pages/playlist/:playListId/index.tsx
  src/utils/getTrackListTotalDuration.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react to v11.2.4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/pollyjs__core to v4.3.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react to v11.2.5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.4.7
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @lhci/cli to v0.7.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/react to v17.0.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @babel/plugin-transform-runtime to v7.12.13
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix(deps): update dependency react-scripts to v4.0.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @babel/plugin-transform-runtime to v7.12.15
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency netlify-cli to v3.5.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency lint-staged to v10.5.4
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/prettier to v2.2.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix: artist name has new line
  src/pages/album/:albumId/components/Heading/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

feat: use recommendation API to display result
  src/contexts/DataFetching/index.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserLastPlayedArtist.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserLastPlayedTrack.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserTopArtist.test.tsx
  src/hooks/spotify/query/__tests__/useSuggestedPlayListByUserTopTrack.test.tsx
  src/hooks/spotify/query/useFeaturedPlaylists.ts
  src/hooks/spotify/query/useRecentPlayedTrack.ts
  src/hooks/spotify/query/useRecommendations.ts
  src/hooks/spotify/query/useSuggestedAlbumByUserLastPlayedArtists.ts
  src/hooks/spotify/query/useSuggestedAlbumByUserLastPlayedTracks.ts
  src/hooks/spotify/query/useSuggestedAlbumByUserTopArtistGenres.ts
  src/hooks/spotify/query/useSuggestedAlbumByUserTopArtists.ts
  src/hooks/spotify/query/useSuggestedAlbumByUserTopTracks.ts
  src/hooks/spotify/query/useSuggestedPlayListByUserLastPlayedArtist.ts
  src/hooks/spotify/query/useSuggestedPlayListByUserLastPlayedTrack.ts
  src/hooks/spotify/query/useSuggestedPlayListByUserTopArtist.ts
  src/hooks/spotify/query/useSuggestedPlayListByUserTopTrack.ts
  src/hooks/spotify/query/useUserTop.ts
  src/hooks/spotify/typings/Track.d.ts
  src/pages/index/components/AlbumByTopStreamTracks.tsx
  src/pages/index/components/FeaturedPlayListsBySpotify.tsx
  src/pages/index/components/Present/PresentSuggestPlayList.tsx
  src/pages/index/components/SuggestAlbumByUserLastPlayedArtists.tsx
  src/pages/index/components/SuggestAlbumByUserLastPlayedTracks.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtistGenres.tsx
  src/pages/index/components/SuggestAlbumByUserTopArtists.tsx
  src/pages/index/components/SuggestAlbumByUserTopTracks.tsx
  src/pages/index/components/SuggestPlayListByUserLastPlayedArtist.tsx
  src/pages/index/components/SuggestPlayListByUserLastPlayedTrack.tsx
  src/pages/index/components/SuggestPlayListByUserTopArtist.tsx
  src/pages/index/components/SuggestPlayListByUserTopTrack.tsx
  src/pages/index/components/__tests__/SuggestAlbumBySpotifyTopStreamTracks.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserLastPlayedArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserLastPlayedTrack.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserTopArtist.test.tsx
  src/pages/index/components/__tests__/SuggestPlayListByUserTopTrack.test.tsx
  src/pages/index/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

feat: script for re-sign spotify token
  .env
  .idea/jsLibraryMappings.xml
  package.json
  src/components/UserPlayList/__tests__/__recordings__/UserPlayList.test/test-with-user-play-list-hoc-should-render-without-error_3474803194/recording.har
  src/config/openidConfiguration.ts
  src/hooks/__tests__/__recordings__/useSpotifyAPIClient.test/use-spotify-api-client-throw-exception-if-sing-token-always-error_920735180/recording.har
  src/hooks/__tests__/__recordings__/useUserCountry.test/use-user-country-should-return-my-current-location-hk_658722853/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useAlbum.test/test-use-album-fetch-the-album_248313800/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useFeaturedPlaylists.test/use-featured-playlists-get-featured-playlist_195703536/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/usePlayList.test/return-playlist-info_1600870947/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useRecentPlayedTrack.test/return-user-recently-played-track_1273407338/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSearchPlayList.test/return-playlist-for-given-keyword_900534112/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedArtists.test/return-playlist-of-user-by-last-played-artist_3013388251/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserLastPlayedTracks.test/return-playlist-of-user-by-last-played-track_1557813535/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtistGenres.test/return-albums-of-user-by-top-artist-genres_3703313907/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopArtists.test/return-playlist-of-user-by-top-artist_3104741902/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useSuggestedAlbumByUserTopTracks.test/return-playlist-of-user-by-top-track_1297527244/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useTopStreamingAlbum.test/test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn_3191613220/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserPlayList.test/return-user-playlist_3891777474/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/useUserTop.test/return-user-top-artist_3767885161/recording.har
  src/pages/playlist/:playListId/__tests__/__recordings__/index.test/render-with-play-list-hoc-pass-response-to-wrapper_3344042563/recording.har
  testHelper/signToken/index.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

docs: update readme
  README.md
Due: yarn prettier --write

fix: container should full height in order get loading center
  src/pages/album/:albumId/index.tsx
  src/pages/index/index.tsx
  src/pages/playlist/:playListId/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: app title
  public/index.html
Due: none

refactor: extract tracklist to components
  src/Routes/ProtectedRoutes.tsx
  src/Routes/index.tsx
  src/components/ErrorBoundary/Auth/__tests__/index.test.tsx
  src/components/ErrorBoundary/Auth/index.tsx
  src/components/Loading/index.tsx
  src/components/MusicPlayer/index.tsx
  src/components/TracksList/clock.svg
  src/components/TracksList/index.tsx
  src/contexts/Auth/AuthContext.tsx
  src/contexts/SpotifyWebPlayback/index.tsx
  src/errors/UnAuthenticatedError.ts
  src/pages/album/:albumId/components/TracksList/__tests__/index.test.tsx
  src/pages/album/:albumId/components/TracksList/index.tsx
  src/pages/album/:albumId/index.tsx
  src/pages/playlist/:playListId/components/TracksList/__tests__/index.test.tsx
  src/pages/playlist/:playListId/components/TracksList/index.tsx
  src/pages/playlist/:playListId/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint

feat: click track will response to webplayback context
  src/App.tsx
  src/components/TracksList/__tests__/index.test.tsx
  src/components/TracksList/clock.svg
  src/components/TracksList/index.tsx
  src/components/TracksList/pause.svg
  src/components/TracksList/play.svg
  src/components/TracksList/streaming.gif
  src/contexts/SpotifyWebPlayback/index.tsx
  src/pages/album/:albumId/components/Heading/index.tsx
  src/pages/album/:albumId/components/TracksList/__tests__/index.test.tsx
  src/pages/album/:albumId/components/TracksList/index.tsx
  src/pages/playlist/:playListId/__tests__/index.test.tsx
  src/pages/playlist/:playListId/components/TracksList/__tests__/index.test.tsx
  src/pages/playlist/:playListId/components/TracksList/index.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint
