Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn prettier --parser html --write

chore(deps): update dependency @types/jest to v25.1.4
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency quicktype to v15.0.220
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency quicktype to v15.0.221
  package.json
  yarn.lock
Due: yarn prettier --write

feat: read recommendation track from spotify
  .idea/workspace.xml
  __fixtures__/artist.json
  __fixtures__/track.json
  __recordings__/Get-User-Top-artist_1877818924/recording.har
  __recordings__/Get-User-Top-track_1761848290/recording.har
  __recordings__/Get-recently-played-list_3493102476/recording.har
  __recordings__/Get-recommendations-from-seed-artist_3843754521/recording.har
  __recordings__/Get-recommendations-from-seed-track_131423685/recording.har
  src/services/spotify/auth/__tests__/getAuthorizeUrl.test.ts
  src/services/spotify/auth/getAuthorizeUrl.ts
  src/services/spotify/browse/__tests__/getRecommendations.test.ts
  src/services/spotify/browse/getRecommendations.ts
  src/services/spotify/personalization/__tests__/getUserTop.test.ts
  src/services/spotify/personalization/getUserTop.ts
  src/services/spotify/player/__tests__/getRecentlyPlayed.test.ts
  src/services/spotify/player/getRecentlyPlayed.ts
  typings/global.d.ts
  typings/spotify/Artist.d.ts
  typings/spotify/Track.d.ts
  typings/spotify/index.d.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): update dependency stylelint to v13.2.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @typescript-eslint/parser to v2.23.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore: test except more precise
  .idea/workspace.xml
  src/services/spotify/personalization/__tests__/getUserTop.test.ts
  src/services/spotify/player/__tests__/getRecentlyPlayed.test.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat: search playlist function
  .idea/workspace.xml
  __recordings__/Test-search_1050451023/get-by-category_860880548/recording.har
  src/services/spotify/search/__tests__/searchPlayLists.test.ts
  src/services/spotify/search/searchPlayLists.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! feat: search playlist function
  .idea/workspace.xml
  __recordings__/Test-search_1050451023/get-by-category_860880548/recording.har
  __recordings__/Test-search_1050451023/get-playlist-by-given-query_337230021/recording.har
Due: none

feat: show suggested playlist on home
  .idea/workspace.xml
  package.json
  src/components/Home/__tests__/index.test.tsx
  src/components/Home/index.tsx
  src/pages/Home/index.tsx
  src/services/spotify/search/__tests__/searchPlayLists.test.ts
  src/services/spotify/search/searchPlayLists.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat: layout for playlist
  .idea/workspace.xml
  src/components/Home/Present/__tests__/index.test.tsx
  src/components/Home/Present/index.tsx
  src/components/Home/index.tsx
  src/themes/index.ts
  typings/styled-components.d.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! feat: layout for playlist
  .idea/workspace.xml
Due: none

fixup! fixup! feat: layout for playlist
  .idea/workspace.xml
  src/components/Home/Present/__tests__/index.test.tsx
  src/components/Home/Present/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat: match origin spacing
  .idea/workspace.xml
  src/components/Home/Present/index.tsx
  src/components/Home/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! feat: match origin spacing
  .idea/workspace.xml
  src/components/Home/__tests__/index.test.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): update dependency eslint-plugin-simple-import-sort to v5.0.2
  package.json
  yarn.lock
Due: yarn prettier --write

feat: get playlist by last played track artist
  .idea/workspace.xml
  src/components/Home/ByLastPlayedTrack.tsx
  src/components/Home/Present/index.tsx
  src/components/Home/__tests__/ByLastPlayedTrack.test.tsx
  src/components/Home/index.tsx
  src/services/spotify/search/searchPlayLists.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore: move get playlist logic to service
  .idea/workspace.xml
  README.md
  __recordings__/get-playlist-by-top-track_1360498104/recording.har
  src/components/Home/ByLastPlayedTrack.tsx
  src/components/Home/PlayListByTopTrack.tsx
  src/components/Home/__tests__/PlayListByTopTrack.test.tsx
  src/components/Home/index.tsx
  src/services/spotify/playlist/__tests__/getPlayListByTopTrack.test.ts
  src/services/spotify/playlist/getPlayListByTopTrack.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(refactor): reorg folder structure
  .env
  .idea/workspace.xml
  __recordings__/Get-User-Top-artist_1877818924/recording.har
  __recordings__/Get-User-Top-track_1761848290/recording.har
  __recordings__/Get-recently-played-list_3493102476/recording.har
  __recordings__/Get-recommendations-from-seed-artist_3843754521/recording.har
  __recordings__/Get-recommendations-from-seed-track_131423685/recording.har
  __recordings__/Test-search_1050451023/get-playlist-by-given-query_337230021/recording.har
  __recordings__/get-playlist-by-top-track_1360498104/recording.har
  __recordings__/resolve-all-playList_1225860670/recording.har
  __recordings__/search-playlist-by-top-track_583397378/recording.har
  package.json
  src/components/Home/index.tsx
  src/components/Nav/index.tsx
  src/components/PlayList/PlayListByTopTrack.tsx
  src/components/PlayList/Present/PresentPlayListLarge.tsx
  src/components/PlayList/Present/PresentPlayListSmall.tsx
  src/components/PlayList/Present/__tests__/PresentPlayListLarge.test.tsx
  src/components/PlayList/Present/__tests__/PresentPlayListSmall.test.tsx
  src/components/PlayList/UserPlayList.tsx
  src/components/PlayList/__tests__/PlayListByTopTrack.test.tsx
  src/components/PlayList/__tests__/UserPlayList.test.tsx
  src/polly.config.ts
  src/services/spotify/browse/__tests__/getRecommendations.test.ts
  src/services/spotify/personalization/__tests__/getUserTop.test.ts
  src/services/spotify/player/__tests__/getRecentlyPlayed.test.ts
  src/services/spotify/playlist/__tests__/getAllPlaylist.test.ts
  src/services/spotify/playlist/__tests__/getPlayListByTopTrack.test.ts
  src/services/spotify/search/__tests__/searchPlayLists.test.ts
  src/services/spotify/search/__tests__/serachPlayListsByTopTrack.test.ts
  src/services/spotify/search/searchPlayListsByTopTrack.ts
  src/utils/createSpotifyAPIClient.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): update dependency @spotify/eslint-config to v6.1.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/testing-library__jest-dom to v5.0.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @testing-library/react to v10
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/node to v13.9.1
  package.json
  yarn.lock
Due: yarn prettier --write

feat: playlist by top artist genre
  .env
  .idea/workspace.xml
  __recordings__/Category-exist_1891239602/recording.har
  __recordings__/Category-not-exist_1494989207/recording.har
  __recordings__/Category-playlist_1428426725/recording.har
  __recordings__/get-playlist-by-top-artist-genre_94676141/recording.har
  src/components/PlayList/PlayListByTopTrack.tsx
  src/services/spotify/browse/__tests__/getCategoryPlayList.test.ts
  src/services/spotify/browse/__tests__/getPlayListByTopArtistGenre.test.ts
  src/services/spotify/browse/__tests__/isCategoryExist.test.ts
  src/services/spotify/browse/getCategoryPlayList.ts
  src/services/spotify/browse/getPlayListByTopArtistGenre.ts
  src/services/spotify/browse/isCategoryExist.ts
  src/services/spotify/search/__tests__/searchPlayListsByTopTrackArtist.test.ts
  src/services/spotify/search/searchPlayListsByTopTrackArtist.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat: more playlist on home page
  .env
  .idea/workspace.xml
  __fixtures__/album.json
  __recordings__/Get-album-by-given-ID_3457962521/recording.har
  __recordings__/Get-artist-by-given-ID_3467082123/recording.har
  __recordings__/get-playlist-by-top-artist-genre_94676141/recording.har
  __recordings__/search-playlist-by-last-played-artist_1166215180/recording.har
  __recordings__/search-playlist-by-last-played-track_3440302914/recording.har
  __recordings__/search-playlist-by-top-artist_3166574540/recording.har
  __recordings__/search-playlist-by-top-track_583397378/recording.har
  src/components/Home/index.tsx
  src/components/PlayList/PlayListByLastPlayedArtist.tsx
  src/components/PlayList/PlayListByLastPlayedTrack.tsx
  src/components/PlayList/PlayListByTopArtist.tsx
  src/components/PlayList/__tests__/PlayListByLastPlayedArtist.test.tsx
  src/components/PlayList/__tests__/PlayListByLastPlayedTrack.test.tsx
  src/components/PlayList/__tests__/PlayListByTopArtist.test.tsx
  src/services/spotify/album/__tests__/getAlbum.test.ts
  src/services/spotify/album/getAlbum.ts
  src/services/spotify/artist/__tests__/getArtist.test.ts
  src/services/spotify/artist/getArtist.ts
  src/services/spotify/browse/__tests__/getPlayListByTopArtistGenre.test.ts
  src/services/spotify/browse/getPlayListByTopArtistGenre.ts
  src/services/spotify/search/__tests__/searchPlayListByLastPlayedArtist.test.ts
  src/services/spotify/search/__tests__/searchPlayListByLastPlayedTrack.test.ts
  src/services/spotify/search/__tests__/searchPlayListsByTopArtist.test.ts
  src/services/spotify/search/__tests__/searchPlayListsByTopTrack.test.ts
  src/services/spotify/search/searchPlayListByLastPlayedArtist.ts
  src/services/spotify/search/searchPlayListByLastPlayedTrack.ts
  src/services/spotify/search/searchPlayListsByTopArtist.ts
  src/services/spotify/search/searchPlayListsByTopTrack.ts
  typings/global.d.ts
  typings/spotify/Album.d.ts
  typings/spotify/index.d.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! feat: more playlist on home page
  .idea/workspace.xml
  __recordings__/search-playlist-by-last-played-artist_1166215180/recording.har
  src/services/spotify/search/__tests__/searchPlayListByLastPlayedArtist.test.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! fixup! feat: more playlist on home page
  .idea/workspace.xml
  package.json
Due: yarn prettier --write

chore: nav bar layout
  .idea/workspace.xml
  src/components/Logo/Spotify_Logo_RGB_White.png
  src/components/Logo/index.tsx
  src/components/Nav/index.tsx
  src/components/PlayList/Present/PresentPlayListLarge.tsx
  src/components/PlayList/Present/PresentPlayListSmall.tsx
  src/components/PlayList/Present/__tests__/PresentPlayListSmall.test.tsx
  src/components/PlayList/Present/typings/Props.d.ts
  src/components/PlayList/UserPlayList.tsx
  src/components/PlayList/__tests__/UserPlayList.test.tsx
  src/themes/index.ts
  typings/styled-components.d.ts
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore(deps): update dependency @testing-library/react to v10.0.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore: home playlist now fixed size
  .idea/workspace.xml
  src/components/Panel/index.tsx
  src/index.css
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

Path conditions:
  yarn prettier --write: (any of: *.{json,css,md,yaml,yml}) or (any of: *.{js,jsx,ts,tsx})
  yarn eslint --max-warnings 0 --fix: any of: *.{js,jsx,ts,tsx}
  yarn stylelint: any of: *.{js,jsx,ts,tsx}
  yarn prettier --parser html --write: any of: *.svg
