Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn prettier --parser html --write

.lintstagedrc.json:

{
  "*.{json,css,md,yaml,yml}": ["yarn prettier --write", "git add"],
  "*.{js,jsx}": [
    "yarn prettier --write",
    "yarn eslint --max-warnings 0 --fix",
    "yarn stylelint",
    "git add"
  ],
  "*.svg": ["yarn prettier --parser html --write", "git add"]
}

chore(deps): update dependency husky to v4.2.1
  package.json
  yarn.lock
Due: yarn prettier --write

fix(deps): update dependency @testing-library/user-event to v8.0.4
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency eslint-plugin-simple-import-sort to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write

feat: spotify implicit grant login
  .env
  .env.development
  .eslintrc.js
  .github/workflows/main.yml
  .idea/misc.xml
  .idea/vagrant.xml
  .idea/watcherTasks.xml
  .idea/workspace.xml
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/Router.js
  src/logo.svg
  src/pages/Auth/Callback/__tests__/index.test.js
  src/pages/Auth/Callback/index.jsx
  src/pages/Auth/Login/__tests__/index.test.js
  src/pages/Auth/Login/index.jsx
  src/services/spotify/auth/__tests__/authorize.test.js
  src/services/spotify/auth/__tests__/getAuthorizeUrl.test.js
  src/services/spotify/auth/__tests__/verifyAuthCallback.test.js
  src/services/spotify/auth/authorize.js
  src/services/spotify/auth/getAuthorizeUrl.js
  src/services/spotify/auth/openidConfiguration.js
  src/services/spotify/auth/verifyAuthCallback.js
  src/setupTests.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint, yarn prettier --parser html --write

feat: spotify implicit grant login
  .idea/workspace.xml
  src/App.jsx
  src/Router.jsx
  src/__tests__/App.test.js
  src/__tests__/Router.test.js
  src/setupTests.js
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! feat: spotify implicit grant login
  .github/workflows/main.yml
  .idea/workspace.xml
Due: yarn prettier --write

fix: temp disable lighthouse ci
  .idea/workspace.xml
  scripts/test.sh
Due: none

chore: use spotify eslint config
  .eslintrc.js
  .idea/workspace.xml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

chore: all style follow spotify as much as possible
  .eslintignore
  .eslintrc.js
  .idea/workspace.xml
  .prettierrc.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

fixup! chore: all style follow spotify as much as possible
  .eslintrc.js
  .idea/workspace.xml
Due: yarn prettier --write, yarn eslint --max-warnings 0 --fix, yarn stylelint

feat: enable typescript
  .idea/workspace.xml
  package.json
  src/App.tsx
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency lint-staged to v10.0.3
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @typescript-eslint/parser to v2.18.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/jest to v25
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @testing-library/user-event to v8.0.5
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency eslint-config-prettier to v6.10.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/node to v13.5.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @testing-library/user-event to v8.0.7
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency lint-staged to v10.0.4
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/eslint-config to v5.3.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/eslint-config to v6
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/eslint-config-react to v6
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/prettier-config to v6
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @spotify/tsconfig to v6
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @testing-library/user-event to v8.1.0
  package.json
  yarn.lock
Due: yarn prettier --write
