Repository neviaumi/spotify-music-player: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn prettier --parser html --write, yarn stylelint, yarn npmPkgJsonLint

.lintstagedrc.json:

{
  "*.json": ["yarn eslint --fix", "yarn prettier --write"],
  "*.svg": ["yarn prettier --parser html --write"],
  "*.{css,md,yaml,yml}": ["yarn prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "yarn prettier --write",
    "yarn eslint --fix",
    "yarn stylelint"
  ],
  "package.json": [
    "yarn eslint --fix",
    "yarn prettier --write",
    "yarn npmPkgJsonLint"
  ]
}

fix(deps): update dependency swr to v0.4.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react to v11.2.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react-hooks to v4.0.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/jest-dom to v5.11.9
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react-hooks to v5
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency commitizen to v4.2.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency eslint to v7.18.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency stylelint to v13.9.0
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @types/ramda to v0.27.35
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency enzyme-adapter-react-16 to v1.15.6
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/user-event to v12.6.1
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/user-event to v12.6.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): update dependency @testing-library/react-hooks to v5.0.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

refactor: test for login redirect
  src/Routes/index.tsx
  src/pages/auth/login/__tests__/index.test.tsx
  src/pages/auth/login/callback/index.tsx
  src/pages/auth/login/index.tsx
  src/pages/auth/login/utils/__tests__/loginRedirect.test.ts
  src/pages/auth/login/utils/__tests__/verifyAuthCallback.test.ts
  src/pages/auth/login/utils/loginRedirect.ts
  src/pages/auth/login/utils/openidConfiguration.ts
  src/pages/auth/login/utils/verifyAuthCallback.ts
  src/services/spotify/auth/__tests__/getAuthorizeUrl.test.ts
  src/services/spotify/auth/__tests__/getCallbackParams.test.ts
  src/services/spotify/auth/authorize.ts
  src/services/spotify/auth/getCallbackParams.ts
  src/services/spotify/auth/verifyAuthCallback.ts
  src/services/storage/__mocks__/index.ts
  src/services/storage/index.ts
  src/setupTests.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore(deps): update dependency @testing-library/react-hooks to v5.0.3
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

feat(auth): use pkce flow
  .env
  package.json
  src/App.tsx
  src/Router.tsx
  src/Routes/ProtectedRoutes.tsx
  src/Routes/__tests__/Content.test.tsx
  src/Routes/__tests__/ProtectedRoutes.test.tsx
  src/Routes/index.tsx
  src/__tests__/App.test.tsx
  src/config/openidConfiguration.ts
  src/contexts/Auth/AuthContext.tsx
  src/contexts/Auth/__tests__/AuthContext.test.tsx
  src/contexts/Auth/index.tsx
  src/errors/AuthenticationExpiredError.ts
  src/hooks/__tests__/useAccessToken.test.tsx
  src/hooks/__tests__/useSpotifyAPIClient.test.ts
  src/hooks/__tests__/useSpotifyAPIClient.test.tsx
  src/hooks/spotify/query/__tests__/__recordings__/Return-playlist-for-given-keyword_826820302/recording.har
  src/hooks/spotify/query/__tests__/__recordings__/Return-playlist-of-user-by-top-artist_1118089094/recording.har
  src/hooks/spotify/query/useSuggestedPlayListByLastPlayedArtist.ts
  src/hooks/spotify/query/useSuggestedPlayListByLastPlayedTrack.ts
  src/hooks/spotify/query/useSuggestedPlayListByUserTopArtist.ts
  src/hooks/spotify/query/useSuggestedPlayListByUserTopTrack.ts
  src/hooks/useAccessToken.ts
  src/hooks/useSpotifyAPIClient.ts
  src/pages/auth/login/callback/__tests__/index.test.tsx
  src/pages/auth/login/callback/index.tsx
  src/pages/auth/login/index.tsx
  src/pages/auth/login/utils/__tests__/loginRedirect.test.ts
  src/pages/auth/login/utils/__tests__/verifyAuthCallback.test.ts
  src/pages/auth/login/utils/loginRedirect.ts
  src/pages/auth/login/utils/openidConfiguration.ts
  src/pages/auth/login/utils/verifyAuthCallback.ts
  src/setupTests.ts
  src/utils/__tests__/createSpotifyAPIClient.test.ts
  src/utils/createSpotifyAPIClient.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint, yarn npmPkgJsonLint

chore(deps): update dependency @types/ramda to v0.27.36
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

fix: a element text-deocration need be none
  src/components/UserPlayList/UserPlayList.tsx
  src/pages/index/components/Present/PresentSuggestionList.tsx
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: use node14
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .nvmrc
  package.json
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore(deps): pin node.js to 14.15.4
  .nvmrc
Due: none

chore(deps): update dependency @busybox/eslint-config to v5.3.2
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn npmPkgJsonLint

chore: remove dead code
  src/hooks/useDataFetcher.ts
Due: yarn eslint --fix, yarn prettier --write, yarn stylelint

chore: deployment config
  .env.production
Due: none
